ALTER PROCEDURE [dbo].[sp_inserta_compras5]
@id NUMERIC(4,0),
@ls_cuenta_descripcion VARCHAR(50),
@ls_cuenta_contable_mg VARCHAR(12),
@renglon INT,
@id_asiento INT,
@as_tipo VARCHAR(1),
@cuit VARCHAR(15),
@ll_numero_asiento  numeric(12,0),
@ls_detalle_comp  varchar(120),
@orden INT
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @ls_insert NVARCHAR(MAX),
                @ls_iselect NVARCHAR(MAX);


   --     SET @ls_insert = 'INSERT INTO compras5 (
   --         codigo,				            letra,				            sucursal,				            numero,				            orden,
   --         renglon,			            cuenta_contable,	            importe_debe,			            importe_haber,		            fecha_contable,
   --         sector,				            concepto,			            detalle_comprobante,	            tipo,				            actividad,
   --         subactividad,		            moneda,				            valor_dolar,			            fecha_proceso,		            usuario,
   --         asiento,						origen,							unidad_negocio,			            conciliado,			            libro,
   --         zona,				            fecha_vencimiento,	            partida,				            articulo,			            cantidad,
   --         unidad_medida,		            importeMF1,			            importeMF2,				            								importe_doc,
   --         centro_costo,		            serie,				            tipo_item,				            cuenta_contrapartida,           asiento_diario,
   --         objeto_costo1,		            objeto_costo2,		            objeto_costo3,			            objeto_costo4,		            objeto_costo5,
   --         objeto_costo6,		            region,				            cantidad_referencia,            unidad_referencia,
   --         fecha_comprobante,	            autorizado,			            Motivo_autorizacion,	            numero_cuenta ,					codigo_objeto_costo,
			--fecha_gestion	) ';

			SET @ls_insert = '
					 IF NOT EXISTS (
							SELECT 1
							FROM ingreso_comprobantes_compras_cabecera cabecera
							JOIN compras5 c5
								ON c5.codigo   = cabecera.codigo
							   AND c5.letra    = UPPER(cabecera.letra)
							   AND c5.sucursal = cabecera.sucursal
							   AND c5.numero   = cabecera.numero
							   AND c5.orden    = ' + CONVERT(VARCHAR(10), @orden) + '
							   AND c5.renglon  = ' + CONVERT(VARCHAR(10), @renglon) + '
							   AND CONVERT(date, c5.fecha_comprobante) =
								   CONVERT(date, cabecera.fecha_comprobante)
							WHERE cabecera.id = ' + CONVERT(VARCHAR(10), @id) + '
						)
						BEGIN
				INSERT INTO compras5 (
					codigo, letra, sucursal, numero, orden,
					renglon, cuenta_contable, importe_debe, importe_haber, fecha_contable,
					sector, concepto, detalle_comprobante, tipo, actividad,
					subactividad, moneda, valor_dolar, fecha_proceso, usuario,
					asiento, origen, unidad_negocio, conciliado, libro,
					zona, fecha_vencimiento, partida, articulo, cantidad,
					unidad_medida, importeMF1, importeMF2, importe_doc,
					centro_costo, serie, tipo_item, cuenta_contrapartida, asiento_diario,
					objeto_costo1, objeto_costo2, objeto_costo3, objeto_costo4, objeto_costo5,
					objeto_costo6, region, cantidad_referencia, unidad_referencia,
					fecha_comprobante, autorizado, Motivo_autorizacion, numero_cuenta,
					codigo_objeto_costo, fecha_gestion
				)
			';



        SET @ls_iselect = 'SELECT DISTINCT '+ 
            'cabecera.codigo, '+
            'UPPER(cabecera.letra),'+
            'cabecera.sucursal,'+
            'cabecera.numero,'+
            CONVERT(VARCHAR(2), @orden) + ', '+
			--'ROW_NUMBER() OVER (ORDER BY asiento.cuenta_contable),'+
			''+CONVERT(VARCHAR(4), @renglon)+''+','+ --'1 renglon
			--CONVERT(VARCHAR(12), @ls_cuenta_contable_mg)+','+
			'asiento.cuenta_contable,'+
            'asiento.importe_debe ,'+ --importe_debe
			'asiento.importe_haber,'+--importe_haber
            'cabecera.fecha_comprobante ,'+--fecha_contable,'+
            'asiento.sector,'+
			''''+CONVERT(VARCHAR(120), @ls_cuenta_descripcion)+''''+','+
            ''''+CONVERT(VARCHAR(120), @ls_detalle_comp)+''''+','+
			'CASE WHEN asiento.importe_debe > 0 THEN 2 ELSE 1 END ,' + -- tipo
			'ISNULL( (SELECT actividad FROM objeto_costo_general WHERE codigo = asiento.codigo_objeto_costo), asiento.actividad) AS actividad,' +
			'ISNULL( (SELECT subactividad FROM objeto_costo_general WHERE codigo = asiento.codigo_objeto_costo), asiento.subactividad) AS subactividad,'+
			'cabecera.moneda,'+--moneda, '+
            'cabecera.valor_dolar,'+--valor_dolar,'+
            'GETDATE() ,'+--fecha_proceso,'+
            '''Sistema'' ,'+--usuario,'+
			''+CONVERT(VARCHAR(16), @ll_numero_asiento)+''+','+ --' asiento
            '''G'' ,'+--origen, '+-- 
            'NULL ,'+--unidad_negocio,'+
            '''N'' ,'+--conciliado,'+
            '0 ,'+--libro,'+
            'NULL ,'+--zona,'+
            'cabecera.fecha_vencimiento,'+
            'NULL ,'+--partida,'+
            'NULL ,'+--articulo,'+
            'NULL ,'+--cantidad,'+
            'NULL ,'+--unidad_medida,'+
			'CASE WHEN cabecera.moneda = 1 THEN ROUND((asiento.importe_debe - asiento.importe_haber) / cabecera.valor_dolar, 2) '+
			'ELSE (asiento.importe_debe - asiento.importe_haber) '+
			'END AS importeMF1,'+ ----importeMF1,'+
            'NULL ,'+--importeMF2,'+
            'ABS(CASE WHEN cabecera.moneda = 1 THEN ROUND((asiento.importe_debe - asiento.importe_haber) / cabecera.valor_dolar, 2) ' +
			'ELSE (asiento.importe_debe - asiento.importe_haber) ' +
			'END) AS importeMF1,' +
			  --importe_doc
            'ISNULL( (SELECT sector FROM objeto_costo_general WHERE codigo = asiento.codigo_objeto_costo), asiento.centro_costo) AS centro_costo,' +
			'NULL ,'+--serie,'+
            'NULL ,'+--tipo_item,'+
            'NULL ,'+--cuenta_contrapartida,'+
            'NULL ,'+--asiento_diario,'+
            'NULL ,'+--objeto_costo1,'+
            'NULL ,'+--objeto_costo2,'+
            'NULL ,'+--objeto_costo3,'+
            'NULL ,'+--objeto_costo4,'+
            'NULL ,'+--objeto_costo5,'+
            'NULL ,'+--objeto_costo6,'+
            'NULL ,'+--region,'+
            'NULL ,'+--cantidad_referencia,'+
            'NULL ,'+--unidad_referencia,'+
            'cabecera.fecha_comprobante,'+
            'NULL ,'+--autorizado,'+
            'NULL ,'+--Motivo_autorizacion,'+
			''''+CONVERT(VARCHAR(120), @cuit)+''''+','+ --numero_cuenta
			'asiento.codigo_objeto_costo,'+--codigo_objeto_costo
           ' GETDATE() '+--fecha_gestion'+
        ' FROM ingreso_comprobantes_compras_cabecera cabecera'+
        ' LEFT JOIN ingreso_comprobantes_compras_items items'+
        '    ON cabecera.id = items.id_cabecera'+
'        LEFT JOIN ingreso_comprobantes_compras_asiento asiento'+
'            ON cabecera.id = asiento.id_cabecera '+
        ' WHERE cabecera.id = ' + CONVERT(VARCHAR(10), @id) +' AND '+
		' asiento.id = '+CONVERT(VARCHAR(10), @id_asiento);


        --SET @ls_insert = @ls_insert + @ls_iselect;
		SET @ls_insert = @ls_insert + @ls_iselect + ' END';




        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error: ' + @errorMessage);
        THROW; -- Re-lanzar el error para propagarlo
    END CATCH
END;
