USE [pruebasfex]
GO
/****** Object:  StoredProcedure [dbo].[sp_ingreso_comprobantes_compras]    Script Date: 09/06/2025 10:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ingreso_comprobantes_compras]
AS
BEGIN
		SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE cursor_comprobantes CURSOR FOR
        SELECT 
            id,										codigo,							letra,							sucursal,								numero,
            denominacion,							fecha_comprobante,				fecha_iva,						fecha_vencimiento,						moneda,
            valor_dolar,							monto_bonificacion,				monto_descuento,				monto_financiacion,						monto_impuesto,
            monto_impuesto_no_computable,			importe_perc_canje,				monto_percepcion_iva,			monto_percepcion_ganancia,				monto_percepcion_ingbru,
			monto_percepcion_rg3337,				concepto_gravado,				importe_iva,					concep_no_gravado,						total_general, 
			codigo_rubro_gasto,						codigo_lugar_pago,				observaciones_1,				contrato,								cod_regimen_ganancias, 
			fecha_hora_ingreso,						fecha_hora_procesado_macrogest, tipo_comprobante,				errores_importacion,					cuit,
			estado_stock
        FROM ingreso_comprobantes_compras_cabecera
        WHERE errores_importacion IS NULL;

        DECLARE 
            @id INT,										@codigo NUMERIC(4,0),						@letra VARCHAR(4),						@sucursal NUMERIC(5,0),					@numero NUMERIC(8,0), 
			@denominacion VARCHAR(255),						@fecha_comprobante DATETIME,				@fecha_iva DATETIME,					@fecha_vencimiento DATETIME,			@moneda NUMERIC(1,0),
            @valor_dolar NUMERIC(16,4),						@monto_bonificacion DECIMAL(18,2),			@monto_descuento DECIMAL(18,2),			@monto_financiacion DECIMAL(18,2),      @monto_impuesto DECIMAL(18,2), 
			@monto_impuesto_no_computable DECIMAL(18,2),	@importe_perc_canje DECIMAL(18,2),			@monto_percepcion_iva DECIMAL(18,2),    @monto_percepcion_ganancia DECIMAL(18,2), @monto_percepcion_ingbru DECIMAL(18,2),
            @monto_percepcion_rg3337 DECIMAL(18,2),			@concepto_gravado DECIMAL(18,2),			@importe_iva DECIMAL(18,2),				@concep_no_gravado DECIMAL(18,2),       @total_general DECIMAL(18,2), 
			@codigo_rubro_gasto NUMERIC(8,0),				@codigo_lugar_pago NUMERIC(2,0),			@observaciones_1 VARCHAR(200),          @contrato VARCHAR(20),					@cod_regimen_ganancias NUMERIC(4,0),
            @fecha_hora_ingreso DATETIME,					@fecha_hora_procesado_macrogest DATETIME,   @tipo_comprobante VARCHAR(2),			@errores_importacion VARCHAR(5000),		@cuit VARCHAR(15),
			@estado_stock CHAR(1);

        OPEN cursor_comprobantes;

        FETCH NEXT FROM cursor_comprobantes INTO 
            @id,											@codigo,									@letra,									@sucursal,								@numero,
            @denominacion,									@fecha_comprobante,							@fecha_iva,								@fecha_vencimiento,						@moneda,
            @valor_dolar,									@monto_bonificacion,						@monto_descuento,						@monto_financiacion,					@monto_impuesto,
            @monto_impuesto_no_computable,					@importe_perc_canje,						@monto_percepcion_iva,					@monto_percepcion_ganancia,				@monto_percepcion_ingbru, 
			@monto_percepcion_rg3337,						@concepto_gravado,							@importe_iva,							@concep_no_gravado,						@total_general, 
			@codigo_rubro_gasto,							@codigo_lugar_pago,							@observaciones_1,						@contrato,								@cod_regimen_ganancias, 
			@fecha_hora_ingreso,							@fecha_hora_procesado_macrogest,			@tipo_comprobante,						@errores_importacion,					@cuit,
			@estado_stock ;

	


        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @ls_sigo VARCHAR(1);

			DECLARE @ls_numero_cuenta NUMERIC(8,0)
			DECLARE	@ls_cuenta_contable VARCHAR(12)
            DECLARE	@ls_cuenta_descripcion VARCHAR(50)
			DECLARE	@ls_cuenta_contable_mg VARCHAR(12)
            DECLARE @ls_deno_cuenta VARCHAR(100)
			DECLARE	@RC INT
			DECLARE	@ls_cuenta_contablemg VARCHAR(12)
			DECLARE @ll_encontrado NUMERIC(2)
			DECLARE @ll_nro_asientos NUMERIC(8,0)
			DECLARE @renglon INT = 0 
			DECLARE @id_asiento INT
			DECLARE	@ls_descri_redu VARCHAR(12)

           SET @ls_sigo = dbo.f_validacion_ingreso_compras(@id, @codigo, @letra, @sucursal, @numero);


            IF @ls_sigo = 'N'
            BEGIN
                UPDATE ingreso_comprobantes_compras_cabecera
                SET errores_importacion = 'No Importado - Ya existe un registro igual en la base de datos'
                WHERE id = @id;
            END
            ELSE
            BEGIN
				/* por un lado para definir con qué codigo entra al sistema tenemos que averiguar si el robot pone el código de afip o del sistema
				   si el robot pone el codigo de sistema tenemos que ir a buscar en la tabla comprobante_cc con qué codigo va a la cuenta corriente
				   este procedimiento considera que el codigo ( @codigo) que viene desde fex es el código de Macrogest
				*/
				--Consulta de códigos de cuenta corriente

					declare @ls_tipocc  VARCHAR(1),
							@ls_opercc  VARCHAR(1)
							
					SELECT @ls_tipocc = codigo_pro.tipo ,
							@ls_opercc  = codigo_pro.operacion
					FROM codigo_pro , comprobante_cc
					WHERE comprobante_cc.codigo_comprobante = @codigo and
						  comprobante_cc.sistema_origen = 7 and
						  comprobante_cc.sistema_destino = 2 and
						  comprobante_cc.codigo_cc = codigo_pro.codigo

						
					

				
				SELECT @ls_descri_redu = descripcion_reducida FROM comprobante WHERE codigo = @codigo;

                SELECT @ls_numero_cuenta = numero FROM proveedores WHERE cuit = @cuit;
                IF @ls_numero_cuenta IS NULL SET @ls_numero_cuenta = 0;

				

               IF @ls_numero_cuenta > 0	BEGIN

					SET @ls_deno_cuenta = ISNULL((SELECT denominacion FROM proveedores WHERE numero = @ls_numero_cuenta), @denominacion);

					declare @ll_zona  numeric(3,0)
					SET @ll_zona = (SELECT zona FROM proveedores WHERE numero = @ls_numero_cuenta);

					declare @ls_cond_iva  varchar(1)
					SET @ls_cond_iva = (SELECT condicion_iva FROM proveedores WHERE numero = @ls_numero_cuenta);

					declare @ls_provincia  varchar(1)
					SET @ls_provincia = (
						SELECT cp.provincia
						FROM proveedores p
						JOIN cod_postal cp ON cp.codigo_postal = p.codigo_postal
						WHERE p.numero = @ls_numero_cuenta
					);

					declare @ls_tipo_comp  VARCHAR(1)
					SET @ls_tipo_comp = (
						SELECT TOP 1 objeto 
						FROM eventos 
						WHERE evento = 'tipfaccom'
					);

					declare @ls_tipo_imp varchar(1)
					SET @ls_tipo_imp = ISNULL(
						(SELECT tipo_impresion FROM proveedores WHERE numero = @ls_numero_cuenta),
						'C'
					);
				END

				

				declare @ll_iva1_param  NUMERIC(10,4)
				SET @ll_iva1_param = (SELECT iva1 FROM parametros );  
			
				

				
                EXEC @RC = sp_inserta_compras2 @id, @ls_numero_cuenta, @ls_deno_cuenta, @ll_zona, @ls_cond_iva,@ls_provincia,@ls_tipo_comp,@ls_tipo_imp, @ll_iva1_param;

		
		
				EXEC @RC = sp_inserta_compras1 @id, @ls_numero_cuenta,@ll_zona ;



				if @estado_stock = 'S' begin

					EXEC @RC = sp_inserta_movi_stock @codigo, @letra, @sucursal, @numero ,0 , @fecha_comprobante , @ls_numero_cuenta, @id
				end
				------------------------------cursor asientos
				SELECT @ll_nro_asientos = COUNT(cuenta_contable)
				FROM ingreso_comprobantes_compras_asiento
				WHERE id_cabecera = @id

			

				DECLARE cuenta_cursor CURSOR FOR
				SELECT cuenta_contable, id
				FROM ingreso_comprobantes_compras_asiento
				WHERE id_cabecera = @id

				OPEN cuenta_cursor
				FETCH NEXT FROM cuenta_cursor INTO @ls_cuenta_contable, @id_asiento

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @renglon = @renglon + 1

					SELECT @ls_cuenta_contable_mg = cuenta
					FROM co_cuentas
					WHERE cuenta = @ls_cuenta_contable

				

					IF LEN(@ls_cuenta_contable_mg) > 0
					BEGIN
						SELECT @ls_cuenta_descripcion = descripcion
						FROM co_cuentas
						WHERE cuenta = @ls_cuenta_contable_mg

	

					   
						declare @ll_tipo_c5	numeric(1,0)
						set @ll_tipo_c5 = 2
						
						if @ls_tipocc = 'C' begin
							set @ll_tipo_c5 = 1
						end 


						declare @ls_contabil  varchar(1)
						SET @ls_contabil = (SELECT objeto FROM eventos WHERE evento = 'contabil');

						declare @ls_conmindes  varchar(1)
						SET @ls_conmindes = (SELECT objeto FROM eventos WHERE evento = 'conmindes');

						declare @ll_numero_asiento  numeric(12,0)
						SET @ll_numero_asiento = dbo.f_sql_numero_asiento(1, 1, @fecha_comprobante, @ls_contabil, @ls_conmindes, 0);

						if @ll_numero_asiento = 0 begin
							set	@ll_numero_asiento = 999999
						end

					
						declare @ls_detalle_comp varchar(120)

		

			SET @ls_detalle_comp = 
					@ls_descri_redu + ' ' +
					@letra + ' ' +
					RIGHT('0000' + CAST(@sucursal AS VARCHAR(4)), 4) + '-' +
					RIGHT('00000000' + CAST(@numero AS VARCHAR(8)), 8) + ' ' +
					@ls_deno_cuenta


						EXEC @RC = sp_inserta_compras5 @id, @ls_cuenta_descripcion, @ls_cuenta_contable_mg, @renglon , @id_asiento, @ll_tipo_c5, @cuit, @ll_numero_asiento, @ls_detalle_comp

					END

					FETCH NEXT FROM cuenta_cursor INTO @ls_cuenta_contable, @id_asiento
				END

				CLOSE cuenta_cursor
				DEALLOCATE cuenta_cursor
				--------------------------------cursor asientos

                IF @ls_numero_cuenta >  0
                BEGIN


						

					declare @ls_subcuenta  VARCHAR(12)
						SET @ls_subcuenta = (SELECT cuenta_contable FROM proveedores WHERE numero = @ls_numero_cuenta );

					IF @ls_subcuenta IS NULL OR LEN(@ls_subcuenta) = 0
					BEGIN
						SELECT TOP 1 @ls_subcuenta = neto_cuen
						FROM matrizfa
						WHERE sistema = 7 AND codigo = 1 AND forma_pago = 2
					END



		
                    EXEC @RC = sp_inserta_moviprov1 @id, @ls_numero_cuenta, @ls_tipocc,@ls_opercc, @ll_zona, @ls_subcuenta ;


                END

                IF @RC = 0
                BEGIN
                    UPDATE ingreso_comprobantes_compras_cabecera
                    SET errores_importacion = 'Importado correctamente'
                    WHERE id = @id;
                END
            END;

            FETCH NEXT FROM cursor_comprobantes INTO 
            @id,											@codigo,									@letra,									@sucursal,								@numero,
            @denominacion,									@fecha_comprobante,							@fecha_iva,								@fecha_vencimiento,						@moneda,
            @valor_dolar,									@monto_bonificacion,						@monto_descuento,						@monto_financiacion,					@monto_impuesto,
            @monto_impuesto_no_computable,					@importe_perc_canje,						@monto_percepcion_iva,					@monto_percepcion_ganancia,				@monto_percepcion_ingbru, 
			@monto_percepcion_rg3337,						@concepto_gravado,							@importe_iva,							@concep_no_gravado,						@total_general, 
			@codigo_rubro_gasto,							@codigo_lugar_pago,							@observaciones_1,						@contrato,								@cod_regimen_ganancias, 
			@fecha_hora_ingreso,							@fecha_hora_procesado_macrogest,			@tipo_comprobante,						@errores_importacion,					@cuit,
			@estado_stock ;
        END;

        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

        COMMIT TRANSACTION;
    END TRY


    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

		DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@errorMessage);
        INSERT INTO dbo.script_control  VALUES ('Error ' + @errorMessage);

        THROW;
		        
    END CATCH;
END;



