
ALTER PROCEDURE [dbo].[sp_inserta_compras1] 
@id NUMERIC(4,0),
@ls_numero_cuenta NUMERIC(8,0),
@ll_zona NUMERIC(3,0),
@orden INT
AS
BEGIN
    BEGIN TRY
        DECLARE @ls_insert NVARCHAR(MAX)
        DECLARE @ls_iselect NVARCHAR(MAX)
        DECLARE @RC INT
        DECLARE @err_state INT
        DECLARE @ver_state VARCHAR(100)

        SET @ls_insert = 'INSERT INTO compras1 (
                            codigo,					letra,					sucursal,					numero,						orden,					renglon,
                            articulo,				descripcion,			precio,						cantidad,					deposito,				zona,
                            estado_stock,			estado_cc,				estado_pedidos,				estado,						fecha,					cuenta,
                            calificacion,			cantidad_devuelta,		cantidad_entregada,			cantidad_facturada,			cantidad_pagada,		monto_devuelto,
                            monto_entregado,		monto_facturado,		monto_pagado,				descuento_general,			bonificacion_general,	financiacion_general,
                            condicion_iva,			iva1,					iva2,						fecha_hora,					operacion,				cantidad_fabrica,
                            bonificacion_fabrica,	precio_fabrica,			precio_unitario,			subtotal,					serie,					venta_anticipada,
                            unidades,				tipo_medida,			codigo_sinonimo,			precio_remito,				dolar_remito,			codigo_objeto_costo,
                            observaciones,			descuento_reng1,		descuento_reng2,			retencion_ib_especial,		producto_ib_especial,	kgs_ib_especial,
                            alicuota_ib_especial,	campania_labo,			minuta_labo,				orden_labo,					codigo_labo,			destino_producto,
                            cuenta_y_orden,			cod_despacho_plaza,		fabricacion_lote,			vencimiento_lote,			sector_contable,		unidad_medida,
                            precio_pedido,			impuesto_interno,		precio_vta,					impuesto_vta,				calc_palets,			calc_cajas,
                            calc_unidades,			precio_factura,			porc_desc1,					porc_desc2,					porc_desc3,				precio_vta_calc
                        )';

        SET @ls_iselect = '
                        SELECT DISTINCT '+
                            'icc.codigo,'+
                            'UPPER(icc.letra),'+
                            'icc.sucursal,'+
                            'icc.numero,'+
                            CONVERT(VARCHAR(2), @orden) + ', '+
                            'ROW_NUMBER() OVER (ORDER BY ici.id) ,'+
                            'ici.codigo_articulo,'+
                            'ici.denominacion_articulo,'+
                            'ici.precio,'+
                            'ici.cantidad,'+
                            'CASE WHEN ici.deposito > 0  THEN ici.deposito ELSE icc.deposito END AS deposito,' +  --deposito
                            CONVERT(VARCHAR(1), @ll_zona) + ', '+
                            'ISNULL(icc.estado_stock, ''N''),' +--estado_stock
                            '''2'','+--estado_cc,
                            '''N'','+--estado_pedidos,
                            '''V'','+--estado,
                            'icc.fecha_comprobante,'+--fecha,
                            CONVERT(VARCHAR(8), @ls_numero_cuenta) + ', '+
                            'a.calificacion,'+ -- Calificación obtenida directamente articulo
                            '0,'+--cantidad_devuelta,
                            'CASE WHEN icc.estado_stock = ''S'' THEN ici.cantidad ELSE 0 END AS cantidad_entregada,' + -- cantidad_entregada
                            'ici.cantidad,'+--cantidad_facturada,
                            '0,'+--cantidad_pagada,
                            '0,'+--monto_devuelto,
                            'CASE WHEN icc.estado_stock = ''S'' THEN ici.precio * ici.cantidad ELSE 0 END AS monto_entregado,' + -- monto_entregado
                            'CASE WHEN icc.estado_stock = ''S'' THEN ici.precio * ici.cantidad ELSE 0 END AS monto_entregado,' + -- monto_facturado
                            '0,'+--monto_pagado,
                            'icc.monto_descuento,'+
                            'icc.monto_bonificacion,'+
                            'icc.monto_financiacion,'+--financiacion_general,
                            '''I'','+--condicion_iva,
                            'ici.alicuota_iva,'+--iva1,
                            '0,'+--iva2,
                            'ici.fecha_hora_procesado_macrogest,'+--fecha_hora,
                            '''+'','+--operacion,
                            '0,'+--cantidad_fabrica,
                            '0,'+--bonificacion_fabrica,
                            '0,'+--precio_fabrica,
                            'ici.precio,'+--precio_unitario,
                            'icc.total_general,'+
                            'ISNULL(ici.serie,'''') ,'+--serie,
                            '''N'','+--venta_anticipada,
                            'ici.cantidad,'+--unidades,
                            'NULL,'+ -- tipo_medida,
                            'NULL,'+--codigo_sinonimo,
                            'NULL,'+--precio_remito,
                            'NULL,'+--dolar_remito,
                            'NULL,'+--codigo_objeto_costo,
                            'icc.observaciones_1,'+--observaciones,
                            '0,'+--descuento_reng1,
                            '0,'+--descuento_reng2,
                            '0,'+--retencion_ib_especial,
                            '0,'+--producto_ib_especial,
                            '0,'+--kgs_ib_especial,
                            '0,'+--alicuota_ib_especial,
                            'NULL,'+--campania_labo,
                            'NULL,'+--minuta_labo,
                            'NULL,'+--orden_labo,
                            'NULL,'+--codigo_labo,
                            'NULL,'+ -- destino_producto,
                            '''N'','+-- cuenta_y_orden,
                            'NULL,'+--cod_despacho_plaza,
                            'NULL,'+--fabricacion_lote,
                            'NULL,'+--vencimiento_lote,
                            'NULL,'+--sector_contable,
                            'NULL,'+--unidad_medida,
                            'NULL,'+--precio_pedido,
                            '0,'+--impuesto_interno,
                            'NULL,'+--precio_vta,
                            'NULL,'+--impuesto_vta,
                            'NULL,'+--calc_palets,
                            'NULL,'+--calc_cajas,
                            'NULL,'+--calc_unidades,
                            ' ici.precio,'+--precio_factura,
                            ' 0,'+--porc_desc1,
                            ' 0,'+--porc_desc2,
                            ' 0,'+--porc_desc3,
                            ' NULL '+--precio_vta_calc
                    ' FROM ingreso_comprobantes_compras_cabecera icc
                    JOIN ingreso_comprobantes_compras_items ici ON ici.id_cabecera = icc.id
                    JOIN articulo a ON a.codigo = ici.codigo_articulo
                    WHERE icc.id = ' + CONVERT(VARCHAR(5), @id) + ' 
                    AND ici.id_cabecera = ' + CONVERT(VARCHAR(5), @id);

        SET @ls_insert = @ls_insert + ' ' + @ls_iselect

        EXECUTE @RC = sp_executesql @ls_insert

        SET @ver_state = ERROR_MESSAGE(); 
        SET @err_state = @@ERROR;

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error: ' + @errorMessage);
        THROW; 
    END CATCH
END;