


ALTER PROCEDURE [dbo].[sp_inserta_moviprov1]
@id NUMERIC(4,0),
@ls_numero_cuenta NUMERIC(8,0),
@as_tipo  VARCHAR(1),
@as_oper  VARCHAR(1),
@ll_zona  numeric(3,0),
@ls_subcuenta varchar(12),
@orden int
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @ls_insert NVARCHAR(MAX),
                @ls_iselect NVARCHAR(MAX);

 SET @ls_insert = 'INSERT INTO moviprov1 
						(
							numero_cuenta,			        fecha_vencimiento,					codigo_movimiento,		        letra,						sucursal_comprobante,
							numero_comprobante,			    orden,								fecha_contable,			        fecha_proceso,				importe_pesos,
							importe_dolar,			        valor_dolar,						importe_can_pesos,		        importe_can_dolar,			cuota,
							tipo_movimiento,		        operacion,							observaciones_1,		        origen,
							importe_lis_pes,		        importe_lis_dol,			        hora,					        usuario,			        fecha_hora,
							moneda,						     '/*SECTOR,*/						+'RUBRO,
							numero_envio,					importe_doc,						'/*lugar_pago,*/+				'fecha_diferimiento,         cuenta_origen,
							tipo_negocio,					MONEDA_CANCELADA,				importe_can_doc,			importe_mf2,
							importe_can_mf2,				codigo_o,							letra_o,						sucursal_o,
							numero_o,						orden_o,							sistema_origen,					plan_canje,					subcuenta,
							tomar_pago						
						) '

		 SET @ls_iselect =    ' SELECT '+
				CONVERT(VARCHAR(8), @ls_numero_cuenta) + ', '+
				'CASE WHEN iccc.fecha_vencimiento IS NULL THEN iccc.fecha_comprobante ELSE iccc.fecha_vencimiento END,'+             -- fecha_vencimiento
				'iccc.codigo,'+                        -- codigo_movimiento
				'UPPER(iccc.letra),'+                         -- letra
				'iccc.sucursal,'+                      -- sucursal_comprobante
				'iccc.numero,'+                    -- numero_comprobante
				''''+CONVERT(VARCHAR(2), @orden)+''''+','+-- orden
				'iccc.fecha_comprobante,'+             -- fecha_contable
				'iccc.fecha_comprobante, '+            -- fecha_proceso
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general * ISNULL(iccc.valor_dolar, 1) ELSE iccc.total_general END,'+ -- importe_pesos 
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general ELSE iccc.total_general * ISNULL(iccc.valor_dolar, 1) END,'+ -- importe_dolar
				'iccc.valor_dolar, '+                  -- valor_dolar
				'0, '+                     -- importe_can_pesos 
				'0,'+ -- importe_can_dolar
				'1'+','+									-- cuota
				''''+CONVERT(VARCHAR(120), @as_tipo)+''''+','+-- tipo_movimiento
				''''+CONVERT(VARCHAR(120), @as_oper)+''''+','+-- operacion
				'iccc.observaciones_1,'+               -- observaciones_1
				'''G'','+                                -- origen 
				'CASE WHEN ''' + @as_oper + ''' = ''-'' THEN ' +
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general * ISNULL(iccc.valor_dolar, 1) * -1 ELSE iccc.total_general * -1 END ' +
				'ELSE ' +
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general * ISNULL(iccc.valor_dolar, 1) ELSE iccc.total_general END ' +
				'END,'+ -- importe_lis_pes 

				'CASE WHEN ''' + @as_oper + ''' = ''-'' THEN ' +
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general * -1 ELSE iccc.total_general * ISNULL(iccc.valor_dolar, 1) * -1 END ' +
				'ELSE ' +
				'CASE WHEN iccc.moneda = 1 THEN iccc.total_general ELSE iccc.total_general * ISNULL(iccc.valor_dolar, 1) END ' +
				'END,'+ -- importe_lis_dol
				'GETDATE(),'+                          -- hora 
				'''IMPORT'','+                          -- usuario
				'GETDATE(),'+                          -- fecha_hora 
				'iccc.moneda,'+                         -- moneda
				--'iccc.codigo_rubro_gasto,'+                   -- SECTOR 
				'iccc.codigo_rubro_gasto,'+                   -- RUBRO
				'NULL,'+                               -- numero_envio 
				'iccc.total_general,'+                      -- importe_doc 
				--'iccc.lugar_pago,'+                    -- lugar_pago
				'iccc.fecha_vencimiento,'+             -- fecha_diferimiento
				'NULL,'+                               -- cuenta_origen
				'NULL,'+                               -- tipo_negocio
				'NULL,'+                               -- MONEDA_CANCELADA
				'0,'+								   -- importe_can_doc
				'NULL, '+                              -- importe_mf2
				'NULL,'+                               -- importe_can_mf2 
				'NULL,'+                               -- codigo_o 
				'NULL, '+                              -- letra_o 
				'NULL,'+                               -- sucursal_o
				'NULL,'+                               -- numero_o
				'NULL,'+                               -- orden_o 
				'7,'+                               -- sistema_origen 
				'''N'','+                               -- plan_canje
			''''+CONVERT(VARCHAR(120), @ls_subcuenta)+''''+','+ --subcuenta
				'NULL '+                               -- tomar_pago 
			' FROM ingreso_comprobantes_compras_cabecera AS iccc  '+
			'  WHERE iccc.id = ' + CONVERT(varchar(5),@id);



        SET @ls_insert = @ls_insert + @ls_iselect;



        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH

        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error: ' + @errorMessage);
        THROW; 
    END CATCH
END;

