
ALTER PROCEDURE [dbo].[sp_inserta_compras2]
    @id INT,
    @ls_numero_cuenta NUMERIC(8,0),
    @ls_deno_cuenta VARCHAR(100),
    @ll_zona NUMERIC(3,0),
    @ls_cond_iva VARCHAR(1),
    @ls_provincia VARCHAR(1),
    @ls_tipo_comp VARCHAR(1),
    @ls_tipo_imp VARCHAR(1),
    @ll_iva1_param NUMERIC(10,4),
    @neto21  DECIMAL(18,2),
    @iva21   DECIMAL(18,2),
    @neto105 DECIMAL(18,2),
    @iva105  DECIMAL(18,2),
    @neto27  DECIMAL(18,2),
    @iva27   DECIMAL(18,2),
    @orden INT
AS
BEGIN

        SET NOCOUNT ON;
        
        DECLARE @ls_insert NVARCHAR(MAX), 
                @ls_iselect NVARCHAR(MAX),
                @fecha_cierre7 DATETIME,
                @fecha_cierre50 DATETIME,
                @fecha_max_cierre DATETIME,
                @fecha_max_cierre_str VARCHAR(30)
               
        SELECT @fecha_cierre7 = fecha_cierre 
        FROM sistemas WHERE codigo = 7;

        SELECT @fecha_cierre50 = fecha_cierre 
        FROM sistemas WHERE codigo = 50;

        SET @fecha_max_cierre = (
            SELECT MAX(f) FROM (VALUES(@fecha_cierre7), (@fecha_cierre50)) AS Fechas(f)
        );

        SET @fecha_max_cierre_str = CONVERT(VARCHAR(30), ISNULL(@fecha_max_cierre, '1900-01-01'), 121);


        SET @ls_insert = N'INSERT INTO compras2 (
            codigo,                     letra,                          sucursal,                       numero,                     orden, 
            cuenta,                     denominacion,                   cuenta_cc,                      fecha_comprobante,          fecha_proceso, 
            fecha_contable,             descuento_general,              monto_descuento,                bonificacion_general,       monto_bonificacion, 
            financiacion_general,       monto_financiacion,             iva1,                           monto_iva1,                 iva2, 
            monto_iva2,                 monto_impuesto,                 retencion_ganancia,             retencion_iva,              retencion_ingbru, 
            retencion_rg3337,           concepto_gravado,               concepto_no_gravado,            monto_general,              estado_cc, 
            provincia,                  numero_cuit,                    contabiliza,                    usuario,                    hora, 
            fecha_hora,                 fecha_iva,                      tipo_impuesto,                  plan_canje,                 fecha_vencimiento, 
            cod_regimen,                impuesto_no_computable,         moneda,                         valor_dolar,                sistema_cc, 
            importe_iva1,               importe_iva2,                   importe_iva3,                   importe_neto1,              importe_neto2, 
            importe_neto3,              rubro_gasto,                    lugar_pago,                     cai,                        vencimiento_cai,     
            iva_ventas,                 alicuota_perc_canje,            monto_imponible_perc_canje,     importe_perc_canje,         iva_recargo_financiero,     
            cuenta_y_orden,             estado,                         estado_pedidos,                 estado_bancarias,           copias,                    
            importe_neto4,              importe_neto5,                  importe_neto6,                  importe_iva4,               importe_iva5,
            importe_iva6,               fecha_ingreso_brutos,           tipo_comprobante,               venta_anticipada,           estado_stock,
            deposito,                   condicion_iva,                  tipo_impresion             
        ) ';




        SET @ls_iselect = N'
        SELECT DISTINCT
            iccc.codigo,
            iccc.letra,
            iccc.sucursal,
            iccc.numero,
            ' + CONVERT(NVARCHAR(1), @orden) + N',
            ' + CONVERT(NVARCHAR(20), @ls_numero_cuenta) + N',
            ''' + REPLACE(@ls_deno_cuenta, '''', '''''') + N''',
            ' + CONVERT(NVARCHAR(20), @ls_numero_cuenta) + N',
            iccc.fecha_comprobante,
            GETDATE(),
            CASE 
                WHEN iccc.fecha_comprobante < ''' + @fecha_max_cierre_str + N''' 
                THEN DATEADD(DAY, 1, ''' + @fecha_max_cierre_str + N''')
                ELSE iccc.fecha_comprobante
            END,
            0,
            iccc.monto_descuento,
            0,
            iccc.monto_bonificacion,
            0,
            iccc.monto_financiacion,
            ' + CONVERT(NVARCHAR(20), @ll_iva1_param) + N',
            ' + CONVERT(NVARCHAR(20), @iva21 + @iva105+@iva27) + N',
            CASE WHEN ' + CONVERT(NVARCHAR(20), @iva105) + N' > 0 THEN 10.5 ELSE 0 END,
            0,
            iccc.monto_impuesto,
            iccc.monto_percepcion_ganancia,
            iccc.monto_percepcion_iva,
            iccc.monto_percepcion_ingbru,
            iccc.monto_percepcion_rg3337,
            ' + CONVERT(NVARCHAR(20), (@neto21 + @neto105 + @neto27)) + N',
            iccc.tipo_no_grabado,
            iccc.total_general,
            ''2'',
            ''' + @ls_provincia + N''',
            iccc.cuit,
            ''S'',
            ''IMPORT'',
            iccc.fecha_comprobante,
            iccc.fecha_comprobante,
            iccc.fecha_iva,
            NULL,
            ''N'',
             CASE 
                WHEN iccc.fecha_vencimiento IS NULL 
                THEN iccc.fecha_comprobante 
                ELSE iccc.fecha_vencimiento 
            END,
            iccc.cod_regimen_ganancias,
            iccc.monto_impuesto_no_computable,
            iccc.moneda,
            iccc.valor_dolar,
            2,
            ' + CONVERT(NVARCHAR(20), @iva21) + N',
            ' + CONVERT(NVARCHAR(20), @iva27) + N',
            ' + CONVERT(NVARCHAR(20), @iva105) + N',
            ' + CONVERT(NVARCHAR(20), @neto21) + N',
            ' + CONVERT(NVARCHAR(20), @neto27) + N',
            ' + CONVERT(NVARCHAR(20), @neto105) + N',
            ISNULL(iccc.codigo_rubro_gasto, 0),
            ISNULL(iccc.codigo_lugar_pago, 0),
            NULL,
            NULL,
            ''N'',
            0,
            0,
            ISNULL(iccc.importe_perc_canje, 0),
            NULL,
            ''N'',
            ''V'',
            ''N'',
            ''N'',
            1,
            0,
			0,
			0,
            0,
			0,
			0,
            iccc.fecha_comprobante,
            ''' + @ls_tipo_comp + N''',
            ''N'',
            ISNULL(iccc.estado_stock, ''N''),
            iccc.deposito,
            ''' + @ls_cond_iva + N''',
            CASE 
                WHEN iccc.tipo_impresion IS NULL 
                THEN ''' + @ls_tipo_imp + N'''
                ELSE iccc.tipo_impresion
            END
        FROM ingreso_comprobantes_compras_cabecera iccc
        WHERE iccc.id = ' + CONVERT(NVARCHAR(10), @id);



        SET @ls_insert = @ls_insert + @ls_iselect;

        PRINT(@ls_insert);
        
  
        EXEC sp_executesql @ls_insert;

END;