ALTER PROCEDURE [dbo].[sp_inserta_compras7]
    @id NUMERIC(4,0),
    @ls_numero_cuenta NUMERIC(8,0),
    @renglon INT,
    @orden INT
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @ls_insert NVARCHAR(MAX),
                @ls_iselect NVARCHAR(MAX);

        SET @ls_insert = '
            INSERT INTO compras7 (
                codigo_o,       letra_o,        sucursal_o,     numero_o,       orden_o,
                codigo_d,       letra_d,        sucursal_d,     numero_d,       orden_d,
                codigo_articulo,cantidad,       fecha,          cuenta,         monto_total,
                renglon_o,      renglon_d
            ) 
        ';

        SET @ls_iselect = '
            SELECT DISTINCT
                ici.codigo_vinc,              -- codigo_o
                ici.letra_vinc,               -- letra_o
                ici.sucursal_vinc,            -- sucursal_o
                ici.numero_vinc,              -- numero_o
                ici.orden_vinc,               -- orden_o
                icc.codigo,              -- codigo_d
                UPPER(icc.letra),               -- letra_d
                icc.sucursal,            -- sucursal_d
                icc.numero,              -- numero_d
                ''' + CAST(@orden AS VARCHAR(2)) + ''',              -- orden_d
                ici.codigo_articulo,     -- codigo_articulo
                ici.cantidad,            -- cantidad
                icc.fecha_comprobante,   -- fecha
                ''' + CAST(@ls_numero_cuenta AS VARCHAR(12)) + ''', -- cuenta
                icc.total_general,       -- monto_total
                 ROW_NUMBER() OVER (ORDER BY ici.codigo_articulo), -- renglon_o
                ROW_NUMBER() OVER (ORDER BY ici.codigo_articulo) -- renglon_d
            FROM ingreso_comprobantes_compras_cabecera icc
            JOIN ingreso_comprobantes_compras_items ici 
                ON ici.id_cabecera = icc.id
            WHERE icc.id = ' + CONVERT(VARCHAR(10), @id) + ';            
        ';


        SET @ls_insert = @ls_insert + @ls_iselect;



        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();

        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error: ' + @errorMessage);

        THROW;
    END CATCH
END;
GO
