

ALTER FUNCTION [dbo].[f_validacion_ingreso_compras]
(@id INT,
    @codigo NUMERIC(4, 0),
    @letra VARCHAR(4),
    @sucursal NUMERIC(4, 0),
    @numero NUMERIC(8, 0),
	@cuit NUMERIC(13, 0),
	@fecha_comprobante DATETIME,
	@total_general NUMERIC(18, 2))
RETURNS VARCHAR (1)
AS
BEGIN
	
	DECLARE @ls_sigo varchar(1)
	DECLARE @ll_encontrado NUMERIC(2)


		set @ls_sigo  = 'S';

 ---- VALIDACIÓN DE COMPROBANTE 
		select @ll_encontrado = count(numero)
		from  compras2 
		WHERE 
		(
			(@codigo IN (1,30,201,230) AND codigo IN (1,30,201,230))
			OR (@codigo IN (2,42,202,242) AND codigo IN (2,42,202,242))
			OR (@codigo IN (3,4,203,204)   AND codigo IN (3,4,203,204))
		)
		AND letra = @letra
		AND sucursal = @sucursal
		AND numero = @numero
		AND numero_cuit = @cuit
		AND fecha_comprobante = @fecha_comprobante
		AND monto_general = @total_general


		IF @ll_encontrado > 0 begin			
			set @ls_sigo  = 'N';
		end 
---- VALIDACIÓN DE COMPROBANTE 

	RETURN @ls_sigo

END