USE [obring]
GO
/****** Object:  StoredProcedure [dbo].[sp_ingreso_comprobantes_compras]    Script Date: 28/11/2024 14:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ingreso_comprobantes_compras]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE cursor_comprobantes CURSOR FOR
        SELECT 
            id,						codigo,					letra,					sucursal,					numero,
            orden,					cuenta,					denominacion,			fecha_comprobante,			deposito,
            subtotal,				bonificacion_general,	monto_bonificacion,		descuento_general,			monto_descuento,
			financiacion,			tipo_impuesto,			impuesto,				impuesto_no_computable,		iva_1, 
			monto_iva1,				iva_2,					monto_iva2,				tipo_exento,				concep_no_g, 
			importe_perc_canje,		fecha_iva,				fecha_vencimiento,      rubro_gasto,				lugar_pago, 
			observaciones_1,		contrato,				retencion_iva,			retencion_ganancia,			retencion_ingbru, 
			retencion_rg3337,       provincia,				cod_regimen_ib,			cuenta_contable_banco,		errores_importacion, 
			cuit
        FROM ingreso_comprobantes_compras_cabecera
        WHERE errores_importacion IS NULL;

        DECLARE 
            @id					INT,			@codigo				NUMERIC(4,0),	@letra					VARCHAR(4),			@sucursal				NUMERIC(4,0),		
			@numero				NUMERIC(8,0),   @orden				NUMERIC(8,0),	@cuenta					NUMERIC(8,0),		@denominacion			VARCHAR(255),
			@fecha_comprobante	DATETIME,		@deposito			NUMERIC(8,0),   @subtotal				DECIMAL(18,2),		@bonificacion_general	DECIMAL(18,2), 
			@monto_bonificacion DECIMAL(18,2),  @descuento_general	DECIMAL(18,2),	@monto_descuento		DECIMAL(18,2),		@financiacion			DECIMAL(18,2), 
            @tipo_impuesto		NUMERIC(1),		@impuesto			DECIMAL(18,2),	@impuesto_no_computable DECIMAL(18,2),      @iva_1					DECIMAL(18,2),
			@monto_iva1			DECIMAL(18,2),	@iva_2				DECIMAL(18,2),	@monto_iva2				DECIMAL(18,2),      @tipo_exento			VARCHAR(1), 
			@concep_no_g		DECIMAL(18,2),	@importe_perc_canje DECIMAL(18,2),  @fecha_iva				DATETIME,			@fecha_vencimiento		DATETIME, 
			@rubro_gasto		NUMERIC(8,0),	@lugar_pago			NUMERIC(2,0),   @observaciones_1		VARCHAR(200),		@contrato				VARCHAR(20),
            @retencion_iva		DECIMAL(18,2),	@retencion_ganancia DECIMAL(18,2),	@retencion_ingbru		DECIMAL(18,2),		@retencion_rg3337		DECIMAL(18,2),
            @provincia			VARCHAR(1),		@cod_regimen_ib		NUMERIC(4,0),	@cuenta_contable_banco	VARCHAR(15),        @errores_importacion	VARCHAR(5000), 
			@cuit				VARCHAR(255);

        OPEN cursor_comprobantes;

        FETCH NEXT FROM cursor_comprobantes INTO 
			@id,					@codigo,					@letra,					@sucursal,					@numero,
            @orden,					@cuenta,					@denominacion,			@fecha_comprobante,			@deposito,
            @subtotal,				@bonificacion_general,		@monto_bonificacion,	@descuento_general,			@monto_descuento,
            @financiacion,			@tipo_impuesto,				@impuesto,				@impuesto_no_computable,    @iva_1, 
			@monto_iva1,			@iva_2,						@monto_iva2,			@tipo_exento,		        @concep_no_g, 
			@importe_perc_canje,	@fecha_iva,					@fecha_vencimiento,     @rubro_gasto,				@lugar_pago, 
			@observaciones_1,		@contrato,			        @retencion_iva,			@retencion_ganancia,		@retencion_ingbru, 
			@retencion_rg3337,      @provincia,					@cod_regimen_ib,		@cuenta_contable_banco,		@errores_importacion, 
			@cuit;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- VALIDACIONES Y PROCESAMIENTO
            DECLARE @ls_sigo VARCHAR(1);
            SET @ls_sigo = dbo.f_validacion_ingreso_compras(@id, @codigo, @letra, @sucursal, @numero, @orden, @cuenta);

            IF @ls_sigo = 'N'
            BEGIN
                UPDATE ingreso_comprobantes_compras_cabecera
                SET errores_importacion = 'No Importado - Ya existe un registro igual en la base de datos'
                WHERE id = @id;
            END
            ELSE
            BEGIN
                DECLARE @ls_numero_cuenta NUMERIC(8,0);
				DECLARE @ls_cuenta_contable VARCHAR(12);
				DECLARE @ls_cuenta_descripcion VARCHAR(50);
				DECLARE @ls_cuenta_contable_mg VARCHAR(12);
				DECLARE	@ls_deno_cuenta VARCHAR(100);
				
                SELECT @ls_numero_cuenta = numero FROM proveedores WHERE cuit = @cuit;
				
                IF @ls_numero_cuenta IS NULL SET @ls_numero_cuenta = 0;

				if @ls_numero_cuenta > 0 begin

					SET @ls_deno_cuenta = (SELECT denominacion
											FROM proveedores
											WHERE numero = @ls_numero_cuenta);
				end


				DECLARE @RC int



				EXEC @RC = sp_inserta_compras2 @id,@ls_numero_cuenta,@ls_deno_cuenta ;

				print ('DESPUS DE sp_inserta_compras2 @RC')

                EXEC @RC = sp_inserta_compras1 @id;

				-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Busco cuenta contable, si existe ejecuto compras5<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
				print ('DESPUS DE sp_inserta_compras1 @RC')
				print (@RC)

				if @RC = 0 begin
					SET @ls_cuenta_contable = (SELECT cuenta_contable
												FROM ingreso_comprobantes_compras_asiento
												WHERE id = @id);

					print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>@@ls_cuenta_contable<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<')
					print(@ls_cuenta_contable)

					SET	@ls_cuenta_contable_mg = (SELECT cuenta
													FROM co_cuentas
													WHERE cuenta = @ls_cuenta_contable);


					print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>@ls_cuenta_contable_mg<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<')
					print(@ls_cuenta_contable_mg)

					if len(@ls_cuenta_contable_mg) > 0 begin
						SET @ls_cuenta_descripcion = (SELECT descripcion
														FROM co_cuentas
														WHERE cuenta = @ls_cuenta_contable_mg);

						print('-----------------------------------@@EJECUTO sp_inserta_compras5')
						EXEC @RC = sp_inserta_compras5 @id,@ls_cuenta_descripcion, @ls_cuenta_contable_mg ;
					end 
				end
				-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FIN Busco cuenta contable, si existe ejecuto compras5<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
				print('-----------------------------------@ls_numero_cuenta')
				print(@ls_numero_cuenta)

				if @ls_numero_cuenta > 0 begin 
					print('-----------------------------------@@EJECUTO sp_inserta_moviprov1')
					EXEC @RC = sp_inserta_moviprov1 @id, @ls_numero_cuenta;
				end 

				if @RC = 0 begin
					UPDATE ingreso_comprobantes_compras_cabecera
					SET errores_importacion = 'Importado correctamente'
					WHERE id = @id;
				end
            END;

            FETCH NEXT FROM cursor_comprobantes INTO 
				@id,					@codigo,					@letra,					@sucursal,					@numero,
				@orden,					@cuenta,					@denominacion,			@fecha_comprobante,			@deposito,
				@subtotal,				@bonificacion_general,		@monto_bonificacion,	@descuento_general,			@monto_descuento,
				@financiacion,			@tipo_impuesto,				@impuesto,				@impuesto_no_computable,    @iva_1, 
				@monto_iva1,			@iva_2,						@monto_iva2,			@tipo_exento,		        @concep_no_g, 
				@importe_perc_canje,	@fecha_iva,					@fecha_vencimiento,     @rubro_gasto,				@lugar_pago, 
				@observaciones_1,		@contrato,			        @retencion_iva,			@retencion_ganancia,		@retencion_ingbru, 
				@retencion_rg3337,      @provincia,					@cod_regimen_ib,		@cuenta_contable_banco,		@errores_importacion, 
				@cuit;
        END;

        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;


