USE [obring]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserta_compras2]    Script Date: 29/11/2024 10:14:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_inserta_compras2]
@id NUMERIC(4,0),
@ls_numero_cuenta NUMERIC(8,0),
@ls_deno_cuenta VARCHAR(100)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON;


		
		DECLARE @ls_insert NVARCHAR(MAX), 
				@ls_iselect NVARCHAR(MAX)


				SET @ls_insert = 'INSERT INTO compras2 (
								codigo,						letra,					sucursal,					numero,						orden, 
								deposito,					cuenta,					denominacion,				cuenta_cc,					fecha_comprobante, 
								fecha_proceso,				fecha_contable,			descuento_general,			monto_descuento,			bonificacion_general, 
								monto_bonificacion,			financiacion_general,	monto_financiacion,			iva1,						monto_iva1, 
								iva2,						monto_iva2,				monto_impuesto,				retencion_ganancia,			retencion_iva,
								retencion_ingbru,			retencion_rg3337,		concepto_gravado,			concepto_no_gravado,		monto_general,
								estado_stock,				estado_cc,				provincia,					numero_cuit,				tipo_comprobante,
								contabiliza,				usuario,				hora,						fecha_hora,					fecha_iva, 
								tipo_impuesto,				plan_canje,				fecha_vencimiento,			cod_regimen,				impuesto_no_computable, 
								moneda,						valor_dolar,			sistema_cc,					importe_iva1,				importe_iva2, 
								importe_iva3,				importe_neto1,			importe_neto2,				importe_neto3,				rubro_gasto, 
								lugar_pago,					cai,					vencimiento_cai,			iva_ventas,					alicuota_perc_canje,
								monto_imponible_perc_canje, importe_perc_canje,		iva_recargo_financiero,		fecha_ingreso_brutos,		cuenta_y_orden, 
								tipo_impresion
					) ';

					SET @ls_iselect ='SELECT DISTINCT ' +
											'iccc.codigo,'+ --codigo
											'iccc.letra,'+--letra
											'iccc.sucursal,'+--sucursal
											'iccc.numero,'+--numero
											'iccc.orden,'+--orden
											'ISNULL(iccc.deposito, 0),'+--deposito
											CONVERT(varchar(10),@ls_numero_cuenta )+ ', ' +-- numero_cuenta
											''''+CONVERT(varchar(100),@ls_deno_cuenta )+''',' +-- denominacion
											'iccc.cuenta,'+ --cuenta_cc
											'iccc.fecha_comprobante,'+--fecha_comprobante
											'iccc.fecha_comprobante,'+--fecha_proceso
											'iccc.fecha_comprobante,'+--fecha_contable
											'iccc.descuento_general,'+--descuento_general
											'iccc.monto_descuento,'+--monto_descuento
											'ISNULL(iccc.bonificacion_general, 0),'+--bonificacion_general
											'ISNULL(iccc.monto_bonificacion, 0),'+--monto_bonificacion
											'ISNULL(iccc.financiacion, 0),'+--financiacion_general
											'0,'+--monto_financiacion
											'iccc.iva_1,'+--iva1
											'iccc.monto_iva1,'+--monto_iva1
											'iccc.iva_2,'+--iva2
											'iccc.monto_iva2,'+--monto_iva2
											'ISNULL(iccc.impuesto, 0),'+--monto_impuesto
											'ISNULL(iccc.retencion_ganancia, 0),'+--retencion_ganancia
											'ISNULL(iccc.retencion_iva, 0),'+--retencion_iva
											'ISNULL(iccc.retencion_ingbru, 0),'+--retencion_ingbru
											'ISNULL(iccc.retencion_rg3337, 0),'+--retencion_rg3337
											'iccc.subtotal,'+--concepto_no_gravado
											'iccc.concep_no_g,'+--concepto_gravado
											'iccc.subtotal,'+--monto_general
											'''N'','+--estado_stock
											'''2'','+--estado_cc
											--ISNULL(iccc.estado, 'N'),
											'ISNULL(iccc.provincia, 0),'+--provincia
											--ISNULL(iccc.condicion_iva, '0'),
											'CAST(iccc.cuit AS VARCHAR(15)),'+--numero_cuit
											'''2'', '+--tipo_comprobante
											'''S'','+--contabiliza
											'''IMPORT'', '+ -- usuario
											'iccc.fecha_comprobante,'+--hora
											'iccc.fecha_comprobante,'+--fecha_hora
											'iccc.fecha_comprobante,'+--fecha_iva
											'NULL,'+--tipo_impuesto
											'''N'', ' +--plan_canje
											'iccc.fecha_comprobante,'+--fecha_vencimiento
											'ISNULL(iccc.cod_regimen_ib, 0),'+--cod_regimen
											'iccc.impuesto_no_computable,'+--impuesto_no_computable
											'0,'+--moneda
											'NULL,'+--valor_dolar
											'2,'+--sistema_cc
											'iccc.iva_1,'+--importe_iva1
											'iccc.iva_2,'+--importe_iva2
											'0,'+--importe_iva3
											'iccc.subtotal,'+--importe_neto1
											'0,'+--importe_neto2
											'0,'+--importe_neto3
											'ISNULL(iccc.rubro_gasto, 0),'+--rubro_gasto
											'ISNULL(iccc.lugar_pago, 0),'+--lugar_pago
											'NULL,'+--cai
											'NULL,'+--vencimiento_cai
											'''N'', '+--iva_ventas
											'0,'+--alicuota_perc_canje
											'0,'+--monto_imponible_perc_canje
											'ISNULL(iccc.importe_perc_canje, 0),'+--importe_perc_canje
											'NULL,'+--iva_recargo_financiero
											'NULL,'+--fecha_ingreso_brutos
											'''N'', ' +--cuenta_y_orden
											'''S'' ' +--tipo_impresion
							' FROM ingreso_comprobantes_compras_cabecera AS iccc '+
							' WHERE id = 1; '


		
		print(@ls_iselect)
		SET @ls_insert = @ls_insert + @ls_iselect 

		--print('sp_inserta_compras2     PRINT @ls_insert')

		--print(@ls_insert)

		EXEC sp_executesql @ls_insert;

		

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control  VALUES ('Error: ' + @errorMessage);
        THROW; -- Rethrow the error to the calling procedure
    END CATCH
END;
