USE [obring]
GO
/****** Object:  StoredProcedure [dbo].[sp_ingreso_comprobantes_compras]    Script Date: 05/02/2025 15:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ingreso_comprobantes_compras]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE cursor_comprobantes CURSOR FOR
        SELECT 
            id,										codigo,							letra,							sucursal,								numero,
            denominacion,							fecha_comprobante,				fecha_iva,						fecha_vencimiento,						moneda,
            valor_dolar,							monto_bonificacion,				monto_descuento,				monto_financiacion,						monto_impuesto,
            monto_impuesto_no_computable,			importe_perc_canje,				monto_percepcion_iva,			monto_percepcion_ganancia,				monto_percepcion_ingbru,
			monto_percepcion_rg3337,				concepto_gravado,				importe_iva,					concep_no_gravado,						total_general, 
			codigo_rubro_gasto,						codigo_lugar_pago,				observaciones_1,				contrato,								cod_regimen_ganancias, 
			fecha_hora_ingreso,						fecha_hora_procesado_macrogest, tipo_comprobante,				errores_importacion,					cuit
        FROM ingreso_comprobantes_compras_cabecera
        WHERE errores_importacion IS NULL;

        DECLARE 
            @id INT,										@codigo NUMERIC(4,0),						@letra VARCHAR(4),						@sucursal NUMERIC(5,0),					@numero NUMERIC(8,0), 
			@denominacion VARCHAR(255),						@fecha_comprobante DATETIME,				@fecha_iva DATETIME,					@fecha_vencimiento DATETIME,			@moneda NUMERIC(1,0),
            @valor_dolar NUMERIC(16,4),						@monto_bonificacion DECIMAL(18,2),			@monto_descuento DECIMAL(18,2),			@monto_financiacion DECIMAL(18,2),      @monto_impuesto DECIMAL(18,2), 
			@monto_impuesto_no_computable DECIMAL(18,2),	@importe_perc_canje DECIMAL(18,2),			@monto_percepcion_iva DECIMAL(18,2),    @monto_percepcion_ganancia DECIMAL(18,2), @monto_percepcion_ingbru DECIMAL(18,2),
            @monto_percepcion_rg3337 DECIMAL(18,2),			@concepto_gravado DECIMAL(18,2),			@importe_iva DECIMAL(18,2),				@concep_no_gravado DECIMAL(18,2),       @total_general DECIMAL(18,2), 
			@codigo_rubro_gasto NUMERIC(8,0),				@codigo_lugar_pago NUMERIC(2,0),			@observaciones_1 VARCHAR(200),          @contrato VARCHAR(20),					@cod_regimen_ganancias NUMERIC(4,0),
            @fecha_hora_ingreso DATETIME,					@fecha_hora_procesado_macrogest DATETIME,   @tipo_comprobante VARCHAR(2),			@errores_importacion VARCHAR(5000),		@cuit VARCHAR(15);

        OPEN cursor_comprobantes;

        FETCH NEXT FROM cursor_comprobantes INTO 
            @id,											@codigo,									@letra,									@sucursal,								@numero,
            @denominacion,									@fecha_comprobante,							@fecha_iva,								@fecha_vencimiento,						@moneda,
            @valor_dolar,									@monto_bonificacion,						@monto_descuento,						@monto_financiacion,					@monto_impuesto,
            @monto_impuesto_no_computable,					@importe_perc_canje,						@monto_percepcion_iva,					@monto_percepcion_ganancia,				@monto_percepcion_ingbru, 
			@monto_percepcion_rg3337,						@concepto_gravado,							@importe_iva,							@concep_no_gravado,						@total_general, 
			@codigo_rubro_gasto,							@codigo_lugar_pago,							@observaciones_1,						@contrato,								@cod_regimen_ganancias, 
			@fecha_hora_ingreso,							@fecha_hora_procesado_macrogest,			@tipo_comprobante,						@errores_importacion,					@cuit;

		PRINT('@@FETCH_STATUS')
		PRINT(@@FETCH_STATUS)


        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @ls_sigo VARCHAR(1);

			DECLARE @ls_numero_cuenta NUMERIC(8,0)
			DECLARE	@ls_cuenta_contable VARCHAR(12)
            DECLARE	@ls_cuenta_descripcion VARCHAR(50)
			DECLARE	@ls_cuenta_contable_mg VARCHAR(12)
            DECLARE @ls_deno_cuenta VARCHAR(100)
			DECLARE	@RC INT
			DECLARE	@ls_cuenta_contablemg VARCHAR(12)
			DECLARE @ll_encontrado NUMERIC(2)
			DECLARE @ll_nro_asientos NUMERIC(8,0)
			DECLARE @renglon INT = 0 
			DECLARE @id_asiento INT

           SET @ls_sigo = dbo.f_validacion_ingreso_compras(@id, @codigo, @letra, @sucursal, @numero);

			print('LS_SIGO = despues de la funcion')
			print(@ls_sigo)

            IF @ls_sigo = 'N'
            BEGIN
                UPDATE ingreso_comprobantes_compras_cabecera
                SET errores_importacion = 'No Importado - Ya existe un registro igual en la base de datos'
                WHERE id = @id;
            END
            ELSE
            BEGIN


                SELECT @ls_numero_cuenta = numero FROM proveedores WHERE cuit = @cuit;
                IF @ls_numero_cuenta IS NULL SET @ls_numero_cuenta = 0;

				

                IF @ls_numero_cuenta > 0
                BEGIN
                    SET @ls_deno_cuenta = (SELECT denominacion FROM proveedores WHERE numero = @ls_numero_cuenta);
                END

				print('@ls_numero_cuenta')
				print(@ls_numero_cuenta)
				print('@ls_deno_cuenta')
				print(@ls_deno_cuenta)

				print('INGRESO A SP_INSERTA_COMPRAS2')

                EXEC @RC = sp_inserta_compras2 @id, @ls_numero_cuenta, @ls_deno_cuenta;

				print('@id')
				print(@id)

				print('INGRESO A SP_INSERTA_COMPRAS1')

				EXEC @RC = sp_inserta_compras1 @id, @ls_numero_cuenta;

				------------------------------cursor asientos
				SELECT @ll_nro_asientos = COUNT(cuenta_contable)
				FROM ingreso_comprobantes_compras_asiento
				WHERE id_cabecera = @id

				print('@ll_nro_asientos')
				print(@ll_nro_asientos)


				DECLARE cuenta_cursor CURSOR FOR
				SELECT cuenta_contable, id
				FROM ingreso_comprobantes_compras_asiento
				WHERE id_cabecera = @id

				OPEN cuenta_cursor
				FETCH NEXT FROM cuenta_cursor INTO @ls_cuenta_contable, @id_asiento

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @renglon = @renglon + 1

					SELECT @ls_cuenta_contable_mg = cuenta
					FROM co_cuentas
					WHERE cuenta = @ls_cuenta_contable

					PRINT '@ls_cuenta_contable'
					PRINT @ls_cuenta_contable

					PRINT '@ls_cuenta_contable_mg'
					PRINT @ls_cuenta_contable_mg

					IF LEN(@ls_cuenta_contable_mg) > 0
					BEGIN
						SELECT @ls_cuenta_descripcion = descripcion
						FROM co_cuentas
						WHERE cuenta = @ls_cuenta_contable_mg

						PRINT '@ls_cuenta_descripcion'
						PRINT @ls_cuenta_descripcion
						PRINT 'INGRESO A SP_INSERTA_COMPRAS5'

				       print('@renglon')
					   print(@renglon)

						EXEC @RC = sp_inserta_compras5 @id, @ls_cuenta_descripcion, @ls_cuenta_contable_mg, @renglon , @id_asiento

					END

					FETCH NEXT FROM cuenta_cursor INTO @ls_cuenta_contable, @id_asiento
				END

				CLOSE cuenta_cursor
				DEALLOCATE cuenta_cursor
				--------------------------------cursor asientos

                IF @ls_numero_cuenta > 0
                BEGIN

					print('INGRESO A sp_inserta_moviprov1')
                    EXEC @RC = sp_inserta_moviprov1 @id, @ls_numero_cuenta;
                END

                IF @RC = 0
                BEGIN
                    UPDATE ingreso_comprobantes_compras_cabecera
                    SET errores_importacion = 'Importado correctamente'
                    WHERE id = @id;
                END
            END;

            FETCH NEXT FROM cursor_comprobantes INTO 
            @id,											@codigo,									@letra,									@sucursal,								@numero,
            @denominacion,									@fecha_comprobante,							@fecha_iva,								@fecha_vencimiento,						@moneda,
            @valor_dolar,									@monto_bonificacion,						@monto_descuento,						@monto_financiacion,					@monto_impuesto,
            @monto_impuesto_no_computable,					@importe_perc_canje,						@monto_percepcion_iva,					@monto_percepcion_ganancia,				@monto_percepcion_ingbru, 
			@monto_percepcion_rg3337,						@concepto_gravado,							@importe_iva,							@concep_no_gravado,						@total_general, 
			@codigo_rubro_gasto,							@codigo_lugar_pago,							@observaciones_1,						@contrato,								@cod_regimen_ganancias, 
			@fecha_hora_ingreso,							@fecha_hora_procesado_macrogest,			@tipo_comprobante,						@errores_importacion,					@cuit;
        END;

        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

        COMMIT TRANSACTION;
    END TRY


    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

		DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@errorMessage);
        INSERT INTO dbo.script_control  VALUES ('Error: ' + @errorMessage);

        THROW;
		        
    END CATCH;
END;



