
ALTER PROCEDURE [dbo].[sp_inserta_compras2]
    @id INT,
    @ls_numero_cuenta NUMERIC(8,0),
    @ls_deno_cuenta VARCHAR(100)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @ls_insert NVARCHAR(MAX), 
                @ls_iselect NVARCHAR(MAX);


        
        SET @ls_insert = 'INSERT INTO compras2 (
					codigo,						letra,				sucursal,				numero,					orden,					deposito, 
					cuenta,						denominacion,		cuenta_cc, 				fecha_comprobante,		fecha_proceso,			fecha_contable, 
					descuento_general,			monto_descuento,	bonificacion_general,	monto_bonificacion,		financiacion_general,	monto_financiacion, 
					iva1,						monto_iva1,			iva2,					monto_iva2,				monto_impuesto,			retencion_ganancia, 
					retencion_iva, 				retencion_ingbru,	retencion_rg3337,		concepto_gravado,		concepto_no_gravado,	monto_general, 
					estado_stock,				estado_cc,			provincia,				numero_cuit,			tipo_comprobante,		contabiliza, 
					usuario,					hora,				fecha_hora,				fecha_iva,				tipo_impuesto,			plan_canje, 
					fecha_vencimiento,			cod_regimen,		impuesto_no_computable, moneda,					valor_dolar,			sistema_cc, 
					importe_iva1,				importe_iva2, 		importe_iva3,			importe_neto1,			importe_neto2,			importe_neto3, 
					rubro_gasto,				lugar_pago,			cai,					vencimiento_cai,		iva_ventas,				alicuota_perc_canje, 
					monto_imponible_perc_canje,	importe_perc_canje,	iva_recargo_financiero, fecha_ingreso_brutos,	cuenta_y_orden,			tipo_impresion
					) ';

				SET @ls_iselect = 'SELECT DISTINCT '+
					'iccc.codigo, '+
					'iccc.letra, '+
					'iccc.sucursal,'+
					'iccc.numero,'+
					'0 ,'+--orden
					 '0 ,'+-- deposito,
					CONVERT(VARCHAR(8), @ls_numero_cuenta) + ', '+
					''''+CONVERT(VARCHAR(100), @ls_deno_cuenta)+'''' + ', '+
					CONVERT(VARCHAR(10), @ls_numero_cuenta) + ', '+
					'iccc.fecha_comprobante, '+--fecha_comprobante,
					'iccc.fecha_comprobante, '+--fecha_proceso,
					'iccc.fecha_comprobante, '+--fecha_contable,
					'0, '+--descuento_general,
					'iccc.monto_descuento, '+-- monto_descuento,
					'0, '+--bonificacion_general,
					'iccc.monto_bonificacion, '+--monto_bonificacion,
					'0 ,'+--financiacion_general,
					'iccc.monto_financiacion ,'+--monto_financiacion,
					'0 ,'+--'iccc.importe_iva ,'+--iva1,
					'iccc.monto_impuesto ,'+--monto_iva1,
					'0 ,'+-- iva2,
					'0 ,'+-- monto_iva2,
					'iccc.monto_impuesto ,'+--monto_impuesto,
					'iccc.monto_percepcion_ganancia ,'+--retencion_ganancia,
					'iccc.monto_percepcion_iva ,'+-- retencion_iva,
					'iccc.monto_percepcion_ingbru ,'+-- retencion_ingbru,
					'iccc.monto_percepcion_rg3337 ,'+-- retencion_rg3337,
					'iccc.concepto_gravado ,'+--concepto_gravado,
					'iccc.concep_no_gravado ,'+-- concepto_no_gravado,
					'iccc.total_general ,'+--monto_general,
					'''N'' ,'+-- estado_stock,
					'''2'' ,'+-- estado_cc,
					'ISNULL(iccc.codigo_rubro_gasto, 0) ,'+--provincia,
					'CONVERT(VARCHAR(15), iccc.cuit) ,'+--numero_cuit,
					'iccc.tipo_comprobante ,'+--tipo_comprobante,
					'''S'' ,'+--contabiliza,
					'''IMPORT'' ,'+--usuario,
					'iccc.fecha_comprobante ,'+--hora,
					'iccc.fecha_comprobante ,'+-- fecha_hora,
					'iccc.fecha_iva ,'+--fecha_iva,
					'NULL ,'+--tipo_impuesto,
					'''N'' ,'+-- plan_canje,
					'iccc.fecha_vencimiento ,'+--fecha_vencimiento,
					'ISNULL(iccc.cod_regimen_ganancias, 0) ,'+--cod_regimen,
					'iccc.monto_impuesto_no_computable ,'+--impuesto_no_computable,
					'iccc.moneda ,'+--moneda,
					'iccc.valor_dolar ,'+--valor_dolar,
					'2 ,'+--sistema_cc,
					'iccc.importe_iva ,'+--importe_iva1,
					'0 ,'+--importe_iva2,
					'0 ,'+--importe_iva3,
					'iccc.concepto_gravado ,'+--importe_neto1,
					'0 ,'+--importe_neto2,
					'0 ,'+--importe_neto3,
					'ISNULL(iccc.codigo_rubro_gasto, 0) ,'+--rubro_gasto,
					'ISNULL(iccc.codigo_lugar_pago, 0) ,'+-- lugar_pago,
					'NULL ,'+--cai,
					'NULL ,'+--vencimiento_cai,
					'''N'' ,'+--iva_ventas,
					'0 ,'+--alicuota_perc_canje,
					'0 ,'+--monto_imponible_perc_canje,
					'ISNULL(iccc.importe_perc_canje, 0),'+--importe_perc_canje,
					'NULL ,'+--iva_recargo_financiero,
					'NULL ,'+-- fecha_ingreso_brutos,
					'''N'' ,'+--cuenta_y_orden,
					'''S'' '+-- tipo_impresion
				' FROM ingreso_comprobantes_compras_cabecera AS iccc '+
				' WHERE id = ' + CONVERT(VARCHAR(5), @id);


        SET @ls_insert = @ls_insert + @ls_iselect;

        
        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control  VALUES ('Error: ' + @errorMessage);
        THROW; 
    END CATCH
END;
