
ALTER PROCEDURE [dbo].[sp_inserta_compras1] 
@id NUMERIC(4,0),
@ls_numero_cuenta NUMERIC(8,0)
	AS
BEGIN
	BEGIN TRY


		DECLARE @ls_insert NVARCHAR(MAX)
		DECLARE @ls_iselect NVARCHAR(MAX)
		DECLARE @RC               INT
		DECLARE	@err_state  INT
		DECLARE @ver_state  VARCHAR(100)



	SET @ls_insert = 'INSERT INTO compras1 (
							codigo,						letra,						sucursal,						numero,						orden,						renglon,
							articulo,					descripcion,				precio,							cantidad,					deposito,					zona,
							estado_stock,				estado_cc,					estado_pedidos,					estado,						fecha,						cuenta,
							calificacion,				cantidad_devuelta,			cantidad_entregada,				cantidad_facturada,			cantidad_pagada,			monto_devuelto,
							monto_entregado,			monto_facturado,			monto_pagado,					descuento_general,			bonificacion_general,		financiacion_general,
							condicion_iva,				iva1,						iva2,							fecha_hora,					operacion,					cantidad_fabrica,
							bonificacion_fabrica,		precio_fabrica,				precio_unitario,				subtotal,					serie,						venta_anticipada,
							unidades,					tipo_medida,				codigo_sinonimo,				precio_remito,				dolar_remito,				codigo_objeto_costo,
							observaciones,				descuento_reng1,			descuento_reng2,				retencion_ib_especial,		producto_ib_especial,		kgs_ib_especial,
							alicuota_ib_especial,		campania_labo,				minuta_labo,					orden_labo,					codigo_labo,				destino_producto,
							cuenta_y_orden,				cod_despacho_plaza,			fabricacion_lote,				vencimiento_lote,			sector_contable,			unidad_medida,
							precio_pedido,				impuesto_interno,			precio_vta,						impuesto_vta,				calc_palets,				calc_cajas,
							calc_unidades,				precio_factura,				porc_desc1,						porc_desc2,					porc_desc3,					precio_vta_calc
						)';

				SET @ls_iselect = '
							SELECT DISTINCT '+
								'ingreso_comprobantes_compras_cabecera.codigo,'+
								'ingreso_comprobantes_compras_cabecera.letra,'+
								'ingreso_comprobantes_compras_cabecera.sucursal,'+
								'ingreso_comprobantes_compras_cabecera.numero,'+
								'0,'+
								'ROW_NUMBER() OVER (ORDER BY ingreso_comprobantes_compras_items.id) ,'+
								'ingreso_comprobantes_compras_items.codigo_articulo,'+
								'ingreso_comprobantes_compras_items.denominacion_articulo,'+
								'ingreso_comprobantes_compras_items.precio,'+
								'ingreso_comprobantes_compras_items.cantidad,'+
								'0,'+
								'NULL,'+  --zona,
								'''S'','+--estado_stock,
								'''2'','+--estado_cc,
								'''0'','+--estado_pedidos,
								'''V'','+--estado,
								'ingreso_comprobantes_compras_cabecera.fecha_comprobante,'+--fecha,
								CONVERT(VARCHAR(8), @ls_numero_cuenta) + ', '+
								'''F'','+--calificacion,
								'0,'+--cantidad_devuelta,
								'ingreso_comprobantes_compras_items.cantidad,'+--cantidad_entregada,
								'ingreso_comprobantes_compras_items.cantidad,'+--cantidad_facturada,
								'0,'+--cantidad_pagada,
								'0,'+--monto_devuelto,
								'0,'+--monto_entregado,
								'ingreso_comprobantes_compras_items.precio,'+--monto_facturado,
								'0,'+--monto_pagado,
								'ingreso_comprobantes_compras_cabecera.monto_descuento,'+
								'ingreso_comprobantes_compras_cabecera.monto_bonificacion,'+
								'ingreso_comprobantes_compras_cabecera.monto_financiacion,'+--financiacion_general,
								'''I'','+--condicion_iva,
								'ingreso_comprobantes_compras_items.alicuota_iva,'+--iva1,
								'0,'+--'ingreso_comprobantes_compras_cabecera.importe_iva,'+--iva2,
								'ingreso_comprobantes_compras_items.fecha_hora_procesado_macrogest,'+--fecha_hora,
								'''+'','+--operacion,
								'0,'+--cantidad_fabrica,
								'0,'+--bonificacion_fabrica,
								'0,'+--precio_fabrica,
								'ingreso_comprobantes_compras_items.precio,'+--precio_unitario,
								'ingreso_comprobantes_compras_cabecera.total_general,'+
								'NULL,'+--serie,
								'''N'','+--venta_anticipada,
								'ingreso_comprobantes_compras_items.cantidad,'+--unidades,
								'0,'+ -- tipo_medida,
								'NULL,'+--codigo_sinonimo,
								'0,'+--precio_remito,
								'0,'+--dolar_remito,
								'NULL,'+--codigo_objeto_costo,
								'ingreso_comprobantes_compras_cabecera.observaciones_1,'+--observaciones,
								'0,'+--descuento_reng1,
								'0,'+--descuento_reng2,
								'0,'+--retencion_ib_especial,
								'0,'+--producto_ib_especial,
								'0,'+--kgs_ib_especial,
								'0,'+--alicuota_ib_especial,
								'NULL,'+--campania_labo,
								'NULL,'+--minuta_labo,
								'NULL,'+--orden_labo,
								'NULL,'+--codigo_labo,
								'''0'','+ -- destino_producto,
								'''N'','+-- cuenta_y_orden,
								'NULL,'+--cod_despacho_plaza,
								'NULL,'+--fabricacion_lote,
								'NULL,'+--vencimiento_lote,
								'NULL,'+--sector_contable,
								'0,'+--unidad_medida,
								'0,'+--precio_pedido,
								'0,'+--impuesto_interno,
								'0,'+--precio_vta,
								'0,'+--impuesto_vta,
								'0,'+--calc_palets,
								'0,'+--calc_cajas,
								' 0,'+--calc_unidades,
								' ingreso_comprobantes_compras_items.precio,'+--precio_factura,
								' 0,'+--porc_desc1,
								' 0,'+--porc_desc2,
								' 0,'+--porc_desc3,
								' ingreso_comprobantes_compras_items.precio '+--precio_vta_calc
						' FROM ingreso_comprobantes_compras_cabecera, ingreso_comprobantes_compras_items '+
					   ' WHERE ingreso_comprobantes_compras_cabecera.id = ' + CONVERT(VARCHAR(5), @id);

		SET @ls_insert = @ls_insert + ' ' + @ls_iselect

		   EXECUTE @RC =  sp_executesql @ls_insert

				SET @ver_state = ERROR_MESSAGE(); 

                SET @err_state = @@ERROR;

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control  VALUES ('Error: ' + @errorMessage);
        THROW; 
    END CATCH
    
END;
