USE [obring]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserta_moviprov1]    Script Date: 06/02/2025 15:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_inserta_moviprov1]
@id NUMERIC(4,0),
@ls_numero_cuenta NUMERIC(8,0)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @ls_insert NVARCHAR(MAX),
                @ls_iselect NVARCHAR(MAX);

 SET @ls_insert = 'INSERT INTO moviprov1 
						(
							numero_cuenta,			        fecha_vencimiento,					codigo_movimiento,		        letra,						sucursal_comprobante,
							numero_comprobante,			    orden,								fecha_contable,			        fecha_proceso,				importe_pesos,
							importe_dolar,			        valor_dolar,						importe_can_pesos,		        importe_can_dolar,			cuota,
							tipo_movimiento,		        operacion,							observaciones_1,		        origen,
							importe_lis_pes,		        importe_lis_dol,			        hora,					        usuario,			        fecha_hora,
							moneda,						     '/*SECTOR,*/						+'RUBRO,
							numero_envio,					importe_doc,						'/*lugar_pago,*/+				'fecha_diferimiento,         cuenta_origen,
							tipo_negocio,					subcuenta,							MONEDA_CANCELADA,				importe_can_doc,			importe_mf2,
							importe_can_mf2,				codigo_o,							letra_o,						sucursal_o,
							numero_o,						orden_o,							tomar_pago
						) '

		 SET @ls_iselect =    ' SELECT '+
				CONVERT(VARCHAR(8), @ls_numero_cuenta) + ', '+
				'iccc.fecha_vencimiento,'+             -- fecha_vencimiento
				'iccc.codigo,'+                        -- codigo_movimiento
				'iccc.letra,'+                         -- letra
				'iccc.sucursal,'+                      -- sucursal_comprobante
				'iccc.numero,'+                    -- numero_comprobante
				'0, '+                        -- orden
				'iccc.fecha_comprobante,'+             -- fecha_contable
				'iccc.fecha_comprobante, '+            -- fecha_proceso
				'iccc.total_general,           '+           -- importe_pesos 
				'iccc.total_general / ISNULL(iccc.valor_dolar, 1), '+-- importe_dolar
				'iccc.valor_dolar, '+                  -- valor_dolar
				'iccc.total_general, '+                     -- importe_can_pesos 
				'iccc.total_general / ISNULL(iccc.valor_dolar, 1),'+ -- importe_can_dolar
				'1'+','+									-- cuota
				'''M'','+                                -- tipo_movimiento
				'''O'','+                               -- operacion
				'iccc.observaciones_1,'+               -- observaciones_1
				'''O'','+                                -- origen 
				'iccc.total_general,'+                      -- importe_lis_pes
				'iccc.total_general / ISNULL(iccc.valor_dolar, 1),'+ -- importe_lis_dol
				'GETDATE(),'+                          -- hora 
				'''IMPORT'','+                          -- usuario
				'GETDATE(),'+                          -- fecha_hora 
				'iccc.moneda,'+                         -- moneda
				--'iccc.codigo_rubro_gasto,'+                   -- SECTOR 
				'iccc.codigo_rubro_gasto,'+                   -- RUBRO
				'NULL,'+                               -- numero_envio 
				'iccc.total_general,'+                      -- importe_doc 
				--'iccc.lugar_pago,'+                    -- lugar_pago
				'iccc.fecha_vencimiento,'+             -- fecha_diferimiento
				'NULL,'+                               -- cuenta_origen
				'NULL,'+                               -- tipo_negocio
				'NULL,'+                               -- subcuenta 
				'NULL,'+                               -- MONEDA_CANCELADA
				'NULL,'+                               -- importe_can_doc
				'NULL, '+                              -- importe_mf2
				'NULL,'+                               -- importe_can_mf2 
				'NULL,'+                               -- codigo_o 
				'NULL, '+                              -- letra_o 
				'NULL,'+                               -- sucursal_o
				'NULL,'+                               -- numero_o
				'NULL,'+                               -- orden_o 
				'NULL '+                               -- tomar_pago 
			' FROM ingreso_comprobantes_compras_cabecera AS iccc  '+
			'  WHERE iccc.id = ' + CONVERT(varchar(5),@id);


			print(@ls_insert)
			print(@ls_iselect)

        SET @ls_insert = @ls_insert + @ls_iselect;

        PRINT @ls_insert;


        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH

        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();
        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error: ' + @errorMessage);
        THROW; 
    END CATCH
END;

