CREATE PROCEDURE [dbo].[sp_inserta_compras2]
    @id VARCHAR(100),
    @ls_numero_cuenta NUMERIC(8,0),
    @ls_deno_cuenta VARCHAR(100),
    @ll_zona NUMERIC(3,0),
    @ls_cond_iva VARCHAR(1),
    @ls_provincia VARCHAR(1),
    @ls_tipo_comp VARCHAR(1),
    @ls_tipo_imp VARCHAR(1),
    @ll_iva1_param NUMERIC(10,4),
    @neto21  DECIMAL(18,2),
    @iva21   DECIMAL(18,2),
    @neto105 DECIMAL(18,2),
    @iva105  DECIMAL(18,2),
    @neto27  DECIMAL(18,2),
    @iva27   DECIMAL(18,2),
    @orden INT
AS
BEGIN

        
    BEGIN TRY
        
        SET NOCOUNT ON;
        
        DECLARE @ls_insert NVARCHAR(MAX), 
                @ls_iselect NVARCHAR(MAX)
                
        SET @ls_insert = N'INSERT INTO compras2 (
            codigo,                     letra,                          sucursal,                       numero,                     orden, 
            cuenta,                     denominacion,                   cuenta_cc,                      fecha_comprobante,          fecha_proceso, 
            fecha_contable,             descuento_general,              monto_descuento,                bonificacion_general,       monto_bonificacion, 
            financiacion_general,       monto_financiacion,             iva1,                           monto_iva1,                 iva2, 
            monto_iva2,                 monto_impuesto,                 retencion_ganancia,             retencion_iva,              retencion_ingbru, 
            retencion_rg3337,           concepto_gravado,               concepto_no_gravado,            monto_general,              estado_cc, 
            provincia,                  numero_cuit,                    contabiliza,                    usuario,                    hora, 
            fecha_hora,                 fecha_iva,                      tipo_impuesto,                  plan_canje,                 fecha_vencimiento, 
            cod_regimen,                impuesto_no_computable,         moneda,                         valor_dolar,                sistema_cc, 
            importe_iva1,               importe_iva2,                   importe_iva3,                   importe_neto1,              importe_neto2, 
            importe_neto3,              rubro_gasto,                    lugar_pago,                     cai,                        vencimiento_cai,     
            iva_ventas,                 alicuota_perc_canje,            monto_imponible_perc_canje,     importe_perc_canje,         iva_recargo_financiero,     
            cuenta_y_orden,             estado,                         estado_pedidos,                 estado_bancarias,           copias,                    
            importe_neto4,              importe_neto5,                  importe_neto6,                  importe_iva4,               importe_iva5,
            importe_iva6,               fecha_ingreso_brutos,           tipo_comprobante,               venta_anticipada,           estado_stock,
            deposito,                   zona,                           condicion_iva,                  tipo_impresion             
        ) ';

	
		SELECT
		@orden as orden,
		@ls_numero_cuenta as ls_numero_cuenta,
		@ls_deno_cuenta as ls_deno_cuenta,
		@ll_iva1_param as ll_iva1_param,
		@iva21       AS iva21,
		@iva105      AS iva105,
		@iva27       AS iva27,
		@neto21      AS neto21,
		@neto105     AS neto105,
		@neto27      AS neto27,
		@ll_zona     AS ll_zona,
		@ls_provincia AS ls_provincia,
		@ls_tipo_comp AS ls_tipo_comp,
		@ls_cond_iva  AS ls_cond_iva,
		@ls_tipo_imp  AS ls_tipo_imp

		set @ll_zona = isnull(@ll_zona,0)
		set @ls_provincia = isnull(@ls_provincia,'')

        SET @ls_iselect = N'
        SELECT DISTINCT
            iccc.codigo, 
            UPPER(iccc.letra),
            iccc.sucursal,
            iccc.numero,
            ' + CONVERT(NVARCHAR(2), @orden) + N',
            ' + CONVERT(NVARCHAR(100), @ls_numero_cuenta) + N',
            ''' + REPLACE(@ls_deno_cuenta, '''', '''''') + N''',
            ' + CONVERT(NVARCHAR(100), @ls_numero_cuenta) + N',
            dbo.fn_fecha_comprobante_ajustada(iccc.fecha_comprobante),
            ''' + CONVERT(NVARCHAR(10), GETDATE(), 23) + N''',
            dbo.fn_fecha_comprobante_ajustada(iccc.fecha_comprobante),
            0,
            iccc.monto_descuento,
            0,
            iccc.monto_bonificacion,
            0,
            iccc.monto_financiacion,
            ' + CONVERT(NVARCHAR(100), @ll_iva1_param) + N',
            ' + CONVERT(NVARCHAR(100), @iva21 + @iva105+@iva27) + N',
            CASE WHEN ' + CONVERT(NVARCHAR(100), @iva105) + N' > 0 THEN 10.5 ELSE 0 END,
            0,
            iccc.monto_impuesto,
            CAST(CAST(iccc.monto_percepcion_ganancia AS DECIMAL(18,5)) AS NUMERIC(16,5)),
            CAST(CAST(iccc.monto_percepcion_iva AS DECIMAL(18,5)) AS NUMERIC(16,5)),
            CAST(CAST(iccc.monto_percepcion_ingbru AS DECIMAL(18,5)) AS NUMERIC(16,5)),
            CAST(CAST(iccc.monto_percepcion_rg3337 AS DECIMAL(18,5)) AS NUMERIC(16,5)),
            ' + CONVERT(NVARCHAR(100), (@neto21 + @neto105 + @neto27)) + N',             
            ISNULL(iccc.concep_no_gravado, 0),
            iccc.total_general,
            ''2'',
            ''' + @ls_provincia + N''',
            iccc.cuit,
            ''S'',
            ''IMPORT'',
            iccc.fecha_comprobante,
            iccc.fecha_comprobante,
            dbo.fn_fecha_comprobante_ajustada(iccc.fecha_comprobante),
            NULL,
            ''N'',
             CASE 
                WHEN iccc.fecha_vencimiento IS NULL 
                THEN iccc.fecha_comprobante 
                ELSE iccc.fecha_vencimiento 
            END,
            iccc.cod_regimen_ganancias,
            iccc.monto_impuesto_no_computable,
            iccc.moneda,
            iccc.valor_dolar,
            2,
            ' + CONVERT(NVARCHAR(100), @iva21) + N',
            ' + CONVERT(NVARCHAR(100), @iva27) + N',
            ' + CONVERT(NVARCHAR(100), @iva105) + N',
            ' + CONVERT(NVARCHAR(100), @neto21) + N',
            ' + CONVERT(NVARCHAR(100), @neto27) + N',
            ' + CONVERT(NVARCHAR(100), @neto105) + N',
            ISNULL(iccc.codigo_rubro_gasto, 0),
            ISNULL(iccc.codigo_lugar_pago, 0),
            NULL,
            NULL,
            ''N'',
            0,
            0,
            ISNULL(iccc.importe_perc_canje, 0),
            NULL,
            ''N'',
            ''V'',
            ''N'',
            ''N'',
            1,
            0,
			0,
			0,
            0,
			0,
			0,
            dbo.fn_fecha_comprobante_ajustada(iccc.fecha_comprobante),
            ''' + @ls_tipo_comp + N''',
            ''N'',
            ISNULL(iccc.estado_stock, ''N''),
            CASE 
                WHEN iccc.deposito IS NULL THEN 0
                ELSE iccc.deposito
            END,
            CASE 
                WHEN ' + CONVERT(NVARCHAR(10), @ll_zona) + N' IS NULL THEN 0
                ELSE ' + CONVERT(NVARCHAR(10), @ll_zona) + N'
            END, 
            ''' + @ls_cond_iva + N''',
            CASE 
                WHEN iccc.tipo_impresion IS NULL 
                THEN ''' + @ls_tipo_imp + N'''
                ELSE iccc.tipo_impresion
            END
        FROM ingreso_comprobantes_compras_cabecera iccc
        WHERE iccc.id = ' + CONVERT(NVARCHAR(10), @id);



        SET @ls_insert = @ls_insert + @ls_iselect;
		print(@ls_insert)
        DECLARE @rowsAffected INT 
  
        EXEC sp_executesql @ls_insert , N'@RowCount INT OUTPUT', @RowCount = @rowsAffected OUTPUT;

		

		RETURN isnull(@rowsAffected,0);
    END TRY


    BEGIN CATCH
        --IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        CLOSE cursor_comprobantes;
        DEALLOCATE cursor_comprobantes;

		DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        INSERT INTO dbo.script_control VALUES (@errorMessage);
        INSERT INTO dbo.script_control  VALUES ('Error COMPRAS2' + @errorMessage);
		RETURN 0;
        THROW;
		        
    END CATCH;
END;



