CREATE PROCEDURE [dbo].[sp_inserta_compras_ib] 
    @id VARCHAR(100),
    @ls_provincia VARCHAR(1),
    @orden INT
    
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @ls_insert NVARCHAR(MAX);
        DECLARE @ls_iselect NVARCHAR(MAX);

        SET @ls_insert = '
            INSERT INTO compras_ib (
                codigo,             letra,          sucursal,           numero,   orden,          fecha_comprobante,
                provincia,          importe_ib,     fecha_contable,     abm,      usuario,       fecha_hora,
                IMPORTE_PERC_IB,    participacion
            )';

        SET @ls_iselect = '
            SELECT DISTINCT
                icc.codigo,              -- codigo
                UPPER(icc.letra),               -- letra
                icc.sucursal,            -- sucursal
                icc.numero,              -- numero
                ' + CONVERT(VARCHAR(10), @orden) + ',   -- orden
                icc.fecha_comprobante,   -- fecha comprobante
                ''' + @ls_provincia + ''', -- provincia
                ici.importe_ib,          -- importe IB
                dbo.fn_fecha_comprobante_ajustada(icc.fecha_comprobante),     -- fecha contable
                ''A'',                   -- abm
                ''IMPORT'',              -- usuario
                GETDATE(),               -- fecha_hora
                ici.importe_perc_ib,     -- importe perc IB
                ici.participacion        -- participacion
            FROM ingreso_comprobantes_compras_cabecera icc
            JOIN ingreso_comprobantes_compras_ib ici 
                ON ici.id_cabecera = icc.id
            WHERE icc.id = ' + CONVERT(VARCHAR(10), @id) + '
              AND ici.id_cabecera = ' + CONVERT(VARCHAR(10), @id) + ';';

        SET @ls_insert = @ls_insert + CHAR(13) + @ls_iselect;

        EXEC sp_executesql @ls_insert;

    END TRY
    BEGIN CATCH
        DECLARE @errorMessage NVARCHAR(4000);
        SET @errorMessage = ERROR_MESSAGE();

        INSERT INTO dbo.script_control VALUES (@ls_insert);
        INSERT INTO dbo.script_control VALUES ('Error COMPRAS_IB: ' + @errorMessage);

        THROW;
    END CATCH
END;
GO
