
CREATE PROCEDURE [dbo].[sp_inserta_compras1] 
@id VARCHAR(100),
@ls_numero_cuenta NUMERIC(8,0),
@ll_zona NUMERIC(3,0),
@orden INT

AS
BEGIN
    BEGIN TRY
        -- Variables para el cursor
        DECLARE @codigo VARCHAR(50)
        DECLARE @letra VARCHAR(1)
        DECLARE @sucursal INT
        DECLARE @numero INT
        DECLARE @renglon INT = 0
        DECLARE @articulo VARCHAR(50)
        DECLARE @descripcion VARCHAR(255)
        DECLARE @precio DECIMAL(18,2)
        DECLARE @cantidad DECIMAL(18,2)
        DECLARE @deposito INT
        DECLARE @estado_stock VARCHAR(1)
        DECLARE @fecha DATETIME
        DECLARE @calificacion VARCHAR(50)
        DECLARE @cantidad_entregada DECIMAL(18,2)
        DECLARE @cantidad_facturada DECIMAL(18,2)
        DECLARE @monto_entregado DECIMAL(18,2)
        DECLARE @monto_facturado DECIMAL(18,2)
        DECLARE @monto_descuento DECIMAL(18,2)
        DECLARE @monto_bonificacion DECIMAL(18,2)
        DECLARE @monto_financiacion DECIMAL(18,2)
        DECLARE @alicuota_iva DECIMAL(18,2)
        DECLARE @fecha_hora DATETIME
        DECLARE @subtotal DECIMAL(18,2)
        DECLARE @serie VARCHAR(50)
        DECLARE @unidades DECIMAL(18,2)
        DECLARE @observaciones VARCHAR(MAX)
        DECLARE @precio_factura DECIMAL(18,2)
        DECLARE @fecha_insertada DATETIME
		DECLARE @id_item varchar(100)

        SET @fecha_insertada = GETDATE();


        -- Declarar el cursor
        DECLARE cursor_compras CURSOR FOR
        SELECT 
			ici.id,
            icc.codigo,
            UPPER(icc.letra),
            icc.sucursal,
            icc.numero,
            ici.codigo_articulo,
            ici.denominacion_articulo,
            ici.precio,
            ici.cantidad,
            CASE 
                WHEN ici.deposito IS NOT NULL AND ici.deposito > 0 THEN ici.deposito
                WHEN icc.deposito IS NOT NULL THEN icc.deposito
                ELSE 0
            END AS deposito,
            ISNULL(icc.estado_stock, 'N'),
            icc.fecha_comprobante,
            a.calificacion,
            CASE WHEN icc.estado_stock = 'S' THEN ici.cantidad ELSE 0 END AS cantidad_entregada,
            ici.cantidad,
            CASE WHEN icc.estado_stock = 'S' THEN ici.precio * ici.cantidad ELSE 0 END AS monto_entregado,
            CASE WHEN icc.estado_stock = 'S' THEN ici.precio * ici.cantidad ELSE 0 END AS monto_facturado,
            icc.monto_descuento,
            icc.monto_bonificacion,
            icc.monto_financiacion,
            ici.alicuota_iva,
            ici.fecha_hora_procesado_macrogest,
            icc.total_general,
            ISNULL(ici.serie,''),
            ici.cantidad,
            icc.observaciones_1,
            ici.precio
        FROM ingreso_comprobantes_compras_cabecera icc
        JOIN ingreso_comprobantes_compras_items ici ON ici.id_cabecera = icc.id
        JOIN articulo a ON a.codigo = ici.codigo_articulo
        WHERE icc.id = @id 
        AND ici.id_cabecera = @id
        ORDER BY ici.id

        -- Abrir el cursor
        OPEN cursor_compras

        -- Leer el primer registro
        FETCH NEXT FROM cursor_compras INTO 
            @id_item,@codigo, @letra, @sucursal, @numero, @articulo, @descripcion, @precio, @cantidad,
            @deposito, @estado_stock, @fecha, @calificacion, @cantidad_entregada, @cantidad_facturada,
            @monto_entregado, @monto_facturado, @monto_descuento, @monto_bonificacion, @monto_financiacion,
            @alicuota_iva, @fecha_hora, @subtotal, @serie, @unidades, @observaciones, @precio_factura

        -- Iterar sobre los registros
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @renglon = @renglon + 1

            -- Insertar el registro
            INSERT INTO compras1 (
                codigo,
                letra,
                sucursal,
                numero,
                orden,
                renglon,
                articulo,
                descripcion,
                precio,
                cantidad,
                deposito,
                zona,
                estado_stock,
                estado_cc,
                estado_pedidos,
                estado,
                fecha,
                cuenta,
                calificacion,
                cantidad_devuelta,
                cantidad_entregada,
                cantidad_facturada,
                cantidad_pagada,
                monto_devuelto,
                monto_entregado,
                monto_facturado,
                monto_pagado,
                descuento_general,
                bonificacion_general,
                financiacion_general,
                condicion_iva,
                iva1,
                iva2,
                fecha_hora,
                operacion,
                cantidad_fabrica,
                bonificacion_fabrica,
                precio_fabrica,
                precio_unitario,
                subtotal,
                serie,
                venta_anticipada,
                unidades,
                tipo_medida,
                codigo_sinonimo,
                precio_remito,
                dolar_remito,
                codigo_objeto_costo,
                observaciones,
                descuento_reng1,
                descuento_reng2,
                retencion_ib_especial,
                producto_ib_especial,
                kgs_ib_especial,
                alicuota_ib_especial,
                campania_labo,
                minuta_labo,
                orden_labo,
                codigo_labo,
                destino_producto,
                cuenta_y_orden,
                cod_despacho_plaza,
                fabricacion_lote,
                vencimiento_lote,
                sector_contable,
                unidad_medida,
                precio_pedido,
                impuesto_interno,
                precio_vta,
                impuesto_vta,
                calc_palets,
                calc_cajas,
                calc_unidades,
                precio_factura,
                porc_desc1,
                porc_desc2,
                porc_desc3,
                precio_vta_calc
            )
            VALUES (
                @codigo,
                @letra,
                @sucursal,
                @numero,
                @orden,
                @renglon,
                @articulo,
                @descripcion,
                @precio,
                @cantidad,
                CASE
                    WHEN @deposito IS NULL THEN 0
                    ELSE @deposito
                        END,
                CASE
                    WHEN @ll_zona IS NULL THEN 0
                    ELSE @ll_zona
                                END,
                @estado_stock,
                '2',
                'N',
                'V',
                @fecha,
                @ls_numero_cuenta,
                @calificacion,
                0,
                @cantidad_entregada,
                @cantidad_facturada,
                0,
                0,
                @monto_entregado,
                @monto_facturado,
                0,
                @monto_descuento,
                @monto_bonificacion,
                @monto_financiacion,
                'I',
                @alicuota_iva,
                0,
                @fecha_insertada,
                '+',
                0,
                0,
                0,
                @precio,
                @subtotal,
                @serie,
                'N',
                @unidades,
                NULL,
                NULL,
                NULL,
                NULL,
                NULL,
                @observaciones,
                0,
                0,
                0,
                0,
                0,
                0,
                NULL,
                NULL,
                NULL,
                NULL,
                NULL,
                'N',
                NULL,
                NULL,
                NULL,
                NULL,
                NULL,
                NULL,
                0,
                NULL,
                NULL,
                NULL,
                NULL,
                NULL,
                @precio_factura,
                0,
                0,
                0,
                NULL
            )


            if @estado_stock = 'S' begin
                EXEC  sp_inserta_movi_stock @codigo, @letra, @sucursal, @numero ,0 , @fecha , @ls_numero_cuenta, @id_item, @orden, @id_item,@fecha_insertada
            end

            -- Leer el siguiente registro
            FETCH NEXT FROM cursor_compras INTO 
               @id_item, @codigo, @letra, @sucursal, @numero, @articulo, @descripcion, @precio, @cantidad,
                @deposito, @estado_stock, @fecha, @calificacion, @cantidad_entregada, @cantidad_facturada,
                @monto_entregado, @monto_facturado, @monto_descuento, @monto_bonificacion, @monto_financiacion,
                @alicuota_iva, @fecha_hora, @subtotal, @serie, @unidades, @observaciones, @precio_factura
        END

        -- Cerrar y liberar el cursor
        CLOSE cursor_compras
        DEALLOCATE cursor_compras

    END TRY
    BEGIN CATCH
        -- Cerrar el cursor si está abierto
        IF CURSOR_STATUS('local','cursor_compras') >= 0
        BEGIN
            CLOSE cursor_compras
            DEALLOCATE cursor_compras
        END

        DECLARE @errorMessage NVARCHAR(4000)
        SET @errorMessage = ERROR_MESSAGE()
        
        INSERT INTO dbo.script_control VALUES ('Error en sp_inserta_compras1: ' + @errorMessage);
        THROW; 
    END CATCH
END;